<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>后台管理</title>
<link href="${public}/css/bootstrap.min.css" rel="stylesheet">
<link href="${public}/css/bootstrap-table.css" rel="stylesheet">
<link href="${public}/css/index.css" rel="stylesheet">

<!--[if lt IE 9]>

<script src="js/html5shiv.js"></script>

<script src="js/respond.min.js"></script>

<![endif]-->

</head>

<body>

	<div class=" col-sm-12 col-lg-12  main">
		<div class="row">
			<ol class="breadcrumb">
				<#if session.get("AdminModel").hasPermission("/Admin/Database/add") = true >
					<li><a href="/Admin/Database/add">备份数据库</a></li>
					<#else> 
					</#if> 
					<#if session.get("AdminModel").hasPermission("/Admin/Database/list") = true >
					<li class="active"><a href="/Admin/Database/list">备份数据库文件列表</a></li>
					<#else> 
					</#if> 
			</ol>
		</div>
		<!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs">
					<li><a href="/Admin/Database/add">备份数据库</a></li>
					<li class="active"><a href="/Admin/Database/list">备份数据库文件列表</a></li>
				</ul>
				<div class="panel panel-default">

					<div class="panel-body">
						<table data-toggle="table" data-url="tables/data1.json"
							data-show-refresh="true" data-show-toggle="true"
							data-show-columns="true" data-search="true"
							data-select-item-name="toolbar1" data-pagination="true"
							data-sort-name="name" data-sort-order="desc">
							<thead>
								<tr>
									<th data-sortable="true" data-align="center">文件名称</th>
									<th data-sortable="true" data-align="center">文件大小</th>
									<th data-sortable="true" data-align="center">备份时间</th>
									<th data-sortable="true" data-align="center">还原</th>
									<th data-sortable="true" data-align="center">删除</th>
								</tr>
							</thead>
							<tbody>
								<#list databaseList as c>
								<tr>
									<td style="text-align: center;">${c.name}</td>
									<td style="text-align: center;">${c.length}</td>
									<td style="text-align: center;">${c.date}</td>
								<#if session.get("AdminModel").hasPermission("/Admin/Database/restore") = true >
									<td style="text-align: center;"><a
										href="/Admin/Database/restore?name=${c.name}"
										class="btn btn-primary">还原</a></td>
									<#else> 
									</#if> 
									<#if session.get("AdminModel").hasPermission("/Admin/Database/delete") = true >
									<td style="text-align: center;">
										<button class="btn btn-danger delete" data-toggle="modal"
											data-target="#deleteModal" id="${c.name}">删除</button>
									</td>
									<#else> 
									</#if> 
								</tr>
								</#list>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
		<!--/.row-->

	</div>
	<!--/.main-->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">提醒</h4>
				</div>
				<div class="modal-body">删除不可恢复，是否确认删除？</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary del">删除</button>
				</div>
			</div>
		</div>
	</div>
	<script src="${public}/js/jquery-1.11.1.min.js"></script>
	<script src="${public}/js/bootstrap.min.js"></script>
	<script src="${public}/js/bootstrap-table.js"></script>
	<script>
		!function($) {
			$(document)
					.on(
							"click",
							"ul.nav li.parent > a > span.icon",
							function() {
								$(this).find('em:first').toggleClass(
										"glyphicon-minus");
							});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function() {
			if ($(window).width() > 768)
				$('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function() {
			if ($(window).width() <= 767)
				$('#sidebar-collapse').collapse('hide')
		})
	
			function deletedata(id) {
				//alert($id);
				$('.del').attr("data-id", id);
			}
			$('.del').click(function() {
				$id = $(this).data("id");
				window.location.href = "/Admin/Database/delete?name=" + $id;
			})
		
	</script>
</body>

</html>
