d<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>- 梅江区人民政府门户网站</title>
<link href="${public}/css/red_main.css" type="text/css" rel="stylesheet">
<script language="javascript" src="${public}/js/common.js"></script>
<script language="javascript" src="${public}/js/script.js"></script>
<script language="javascript" src="${public}/js/jquery.js"></script>
</head>

<body>
	<div class="head">
		<div
			style="position: absolute; bottom: 40px; left: 135px; z-index: 999">
			<span><a id="StranLink" href="javascript:StranBody()"
				title="點擊以繁體中文方式浏覽">繁體中文</a></span> | <span><a
				href="/txt_index.html" target="_blank">纯文字索引</a></span>
		</div>
		<script language="javascript" src="${public}/js/language.js"></script>
		<div style="position: absolute; top: 0; left: 0; z-index: 1">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
				codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
				width="400" height="172">
				<param name="movie" value="${public}/images/top_left.swf">
				<param name="wmode" value="transparent">
				<param name="quality" value="high">
			</object>
		</div>
		<div style="position: absolute; top: 0; right: 0;">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
				codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
				width="540" height="172">
				<param name="movie" value="${public}/images/red_top.swf">
				<param name="wmode" value="transparent">
				<param name="quality" value="high">
			</object>
		</div>
	</div>
	<div class="globalNav fixfloat">
		<ul class="menu">
			<li class=""><a href="http://www.meijiang.gov.cn/index.html">首页</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/zjmj/index.html">走进梅江</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/mjdt/index.html">梅江动态</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/zwgk/index.html">政务公开</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/dwgk/index.html">党务公开</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/wsbs/index.html">网上办事</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/mjms/index.html">梅江民声</a></li>
			<li class=""><a
				href="http://www.meijiang.gov.cn/rdzt/index.html">专题专栏</a></li>
		</ul>
	</div>
	<link href="${public}/css/service.css" type="text/css" rel="stylesheet">
	<div class="weather">
		<div class="marquee">
			<script type="text/javascript">
				var enabled = 0;
				today = new Date();
				var day;
				var date;
				if (today.getDay() == 0)
					day = "星期日"
				if (today.getDay() == 1)
					day = "星期一"
				if (today.getDay() == 2)
					day = "星期二"
				if (today.getDay() == 3)
					day = "星期三"
				if (today.getDay() == 4)
					day = "星期四"
				if (today.getDay() == 5)
					day = "星期五"
				if (today.getDay() == 6)
					day = "星期六"
				date = (today.getFullYear()) + "年" + (today.getMonth() + 1)
						+ "月" + today.getDate() + "日";
				document.write("<span>");
				document.write(date);
				document.write("&nbsp;");
				document.write(day);
				document.write("</span>");
			</script>
			<span>2016年9月28日&nbsp;星期三</span>

		</div>
		<div
			style="float: left; margin-left: 20px; height: 27px; line-height: 32px;">
			<a href="http://www.mzqx.net/forecast5.asp" target="_blank">天气预报</a>
		</div>
		<div class="search">
			<form action="/ucms/publish/search.php?o=search&amp;do=all"
				method="POST">
				<label>站内检索：.</label> <input type="hidden" name="NodeID[]"
					id="NodeID[]" value="1"> <input type="hidden" value="1"
					name="Sub" id="Sub"> <input type="text" name="Keywords"
					id="Keywords" class="inp">
				<button class="btn" onclick="this.form.submit();">检索</button>
			</form>
		</div>
	</div>
	<div class="main main-bg fixfloat">
		<div id="news-main" class="conts">
			<div class="fixfloat" style="background: #fff;">
				<h2 class="navigate">
					当前位置： <a href="http://www.meijiang.gov.cn/index.html">首页</a> &gt; <a
						href="http://www.meijiang.gov.cn/ucms/publish/index.php?nodeid=347&amp;page=0">RSS</a>
					» RSS订阅
				</h2>
				
				<div class="mainbox">
					<table style="width: 100%;">
						<tbody>
							<tr class="odd">
								<th style="width: 33%;">主题</th>
								<th style="width: 57%;">可加入RSS阅读软件的网址</th>
								<th style="width: 10%;">订阅</th>
							</tr>
                  <#list rsslist.getList() as list>
							<tr class="even">
								<td style="width: 33%;">${list.theme}</td>
								<td style="width: 57%;">${list.url}</td>
								<td style="width: 10%;"><a rel="external"
									href="${list.url}"
									title="订阅最新-便民提示"><img height="15" width="44" alt="RSS"
										id="btnRss_1_1" src="${public}/images/btn_rss.gif"></a></td>
							</tr>
				  </#list>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		<#macro paginate currentPage totalPage actionUrl urlParas="">
	<#if (totalPage <= 0) || (currentPage > totalPage)><#return></#if>
	<#local startPage = currentPage - 4>
	<#if (startPage < 1)><#local startPage = 1></#if>
	
	<#local endPage = currentPage + 4>
	<#if (endPage > totalPage)><#local endPage = totalPage></#if>
	
	<div class="pagination">
			<#if (currentPage <= 8)>
				<#local startPage = 1>
			</#if>
			<#if ((totalPage - currentPage) < 8)>
				<#local endPage = totalPage>
			</#if>
			
			<#if (currentPage == 1)>
				<span class="disabled prev_page">上页</span>
			<#else>
				<a href="${actionUrl}#{currentPage - 1}${urlParas!}" class="prev_page">上页</a>
			</#if>
			
			<#if (currentPage > 8)>
				<a href="${actionUrl}#{1}${urlParas!}">#{1}</a>
				<a href="${actionUrl}#{2}${urlParas!}">#{2}</a>
				<span class="gap">…</span>
			</#if>
			
			<#list startPage..endPage as i>
				<#if currentPage == i>
					<span class="current">#{i}</span>
				<#else>
					<a href="${actionUrl}#{i}${urlParas!}">#{i}</a>
				</#if>
			</#list>
			
			<#if ((totalPage - currentPage) >= 8)>
				<span class="gap">…</span>
				<a href="${actionUrl}#{totalPage - 1}${urlParas!}">#{totalPage - 1}</a>
				<a href="${actionUrl}#{totalPage}${urlParas!}">#{totalPage}</a>
			</#if>
			
			<#if (currentPage == totalPage)>
				<span class="disabled next_page">下页</span>
			<#else>
				<a href="${actionUrl}#{currentPage + 1}${urlParas!}" class="next_page" rel="next">下页</a>
			</#if>
	</div>
</#macro>
<@paginate currentPage =
		rsslist.pageNumber totalPage = rsslist.totalPage actionUrl =
		"/Admin/Rss/toRss?pageNumber=" />

		<!--  
		<div class="leftarea list-left">
			<div id="xxgk" class="mod fixfloat">
				<div class="hd">
					<h2>信息公开</h2>
				</div>
				<div class="bd fixfloat" style="padding: 5px 0;">
					<ul class="btlist">
						<li class="icon1"><a target="_blank"
							href="http://zwgk.meijiang.gov.cn/zfxxgkzn/441402">政府信息公开指南</a></li>
						<li class="icon2"><a target="_blank"
							href="http://zwgk.meijiang.gov.cn/index/index?areacode=441402">政府信息公开目录</a></li>
						<li class="icon3"><a target="_blank"
							href="http://zwgk.meijiang.gov.cn/zfgzbg/441402">政府工作年度报告</a></li>
						<li class="icon4"><a target="_blank"
							href="http://ysq.meijiang.gov.cn/home/index?areacode=441402">依申请公开</a></li>
						<li class="icon5"><a target="_blank"
							href="http://yjx.meijiang.gov.cn">政府信息公开意见箱</a></li>
					</ul>
				</div>
				<div class="bd fixfloat" style="padding: 5px 10px;">
					<ul class="shortlist" style="width: 180px;">
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/ldbz/index.html">领导之窗</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/rsgz/index.html">人事工作</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/zdxm/index.html">重大项目</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/cwhy/index.html">常务会议</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/mjdt/index.html">梅江动态</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/sonweb/mjyj/">应急管理</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/jgsz/index.html">政府机构</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/zwwj/qzfwj/index.html">法规公文</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/sfgl/index.html">收费管理</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/czgl/index.html">财政管理</a></li>
						<li><a target="_blank"
							href="http://wsbs.meizhou.gov.cn/portal/department/department!findDept.action?hot=3&amp;sonareacode=441402 ">行政许可</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/mjdt/tzgg/index.html">通知公告</a></li>
						<li><a target="_blank" href="http://meizhou.gdgpo.com/">政府采购</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/tjsj/index.html">统计数据</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/fzgh/index.html">发展规划</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/jdxx/index.html">监督信息</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/mjqk/index.html">梅江情况</a></li>
						<li><a target="_blank"
							href="http://www.meijiang.gov.cn/zwgk/zfgb/index.html">政府公报</a></li>
					</ul>
				</div>
			</div>
			<div class="mod fixfloat">
				<div class="hd">
					<h2>通知公告</h2>
				</div>
				<div class="bd fixfloat">
					<ul class="dotlist">
						<script src="${public}/js/js.php?id=tzgg"></script>
						<li><span>09.23</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-23/1474631327d274158.html"
							target="_blank" title="2015年梅江区机构编制委员会办公室决算报表编制说明">2015年梅江区机构编制委员会...</a></li>
						<li><span>09.22</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-22/1474536778d274088.html"
							target="_blank" title="站前安置区选房公示（11-20栋）(更新至2016年9月22日）">站前安置区选房公示（11-20...</a></li>
						<li><span>09.22</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-22/1474536778d274090.html"
							target="_blank" title="站前安置区选房公示（1-10栋）(更新至2016年9月22日）">站前安置区选房公示（1-10栋...</a></li>
						<li><span>09.22</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-22/1474536778d274092.html"
							target="_blank" title="上坪安置北区北地块选房公示（更新至2016年9月22日）">上坪安置北区北地块选房公示...</a></li>
						<li><span>09.22</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-22/1474536778d274094.html"
							target="_blank" title="吉祥安置区选房公示（南区）（更新至2016年9月22日）">吉祥安置区选房公示（南区）...</a></li>
						<li><span>09.22</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-22/1474536779d274096.html"
							target="_blank" title="吉祥安置区选房公示（北区）（更新至2016年9月22日）">吉祥安置区选房公示（北区）...</a></li>
						<li><span>09.21</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-21/1474419764d273975.html"
							target="_blank" title="关于确定梅州市梅江区高毒限用农药定点经营单位的通告">关于确定梅州市梅江区高毒限...</a></li>
						<li><span>09.19</span><a
							href="http://www.meijiang.gov.cn/mjdt/tzgg/2016-09-19/1474278450d273898.html"
							target="_blank" title="站前安置区选房公示（11-20栋）(更新至2016年9月19日）">站前安置区选房公示（11-20...</a></li>
					</ul>
				</div>
			</div>
			<div class="mod fixfloat">
				<ul class="dotlist">
					<li style="padding: 2px 1px;"><a
						href="http://mjwsbs.meizhou.gov.cn/portal/index/index.action?areacode=441402"
						target="_blank"><img src="${public}/images/szsp.jpg"></a></li>
					<li style="padding: 2px 1px;"><a
						href="http://www.meijiang.gov.cn/wsbs/bjsswsb/index.html"><img
							src="${public}/images/bjss.jpg"></a></li>
				</ul>
			</div>
		</div>
	</div>
	-->
	<script language="javascript"
		src="/data/html.js.php?id=weather&amp;inner=weatherinfo"></script>
	<?php include 'Common/footer.php';?>