<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>后台管理</title>
<link href="${public}/css/bootstrap.min.css" rel="stylesheet">
<link href="${public}/css/bootstrap-table.css" rel="stylesheet">
<link href="${public}/css/index.css" rel="stylesheet">
	<script src="${public}/js/jquery-2.2.2.min.js"></script>
	<script src="${public}/js/bootstrap.min.js"></script>
	<script src="${public}/js/bootstrap-table.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<style type="text/css">
 .modal-body{
   padding:15px 5px;
 }
 .modal-body .row{
     margin: 0 auto;
    font-size: 13px;
    }
 .modal-body .row .col-md-3{
           border: 1px solid #c7d8ea;
    padding:0;
 }
 .modal-body .row .col-md-3 h6{
    margin:0;
        border-bottom: 1px solid #c7d8ea;
    color: #3a6ea5;
    background: url(http://www.gdmx.gov.cn/statics/images/admin_img/x_bg.png) repeat-x left -42px;
    height: 26px;
    line-height: 28px;
     padding: 0 8px;
 }
 .modal-body .row .col-md-3 ul{
          padding-left: 0;
    overflow: hidden;
    padding: 0 5px;
    margin: 5px 0;
 }
 .modal-body .row .col-md-3 ul li{
 list-style: none;
 overflow: hidden;
 height:25px;
 }
 .modal-body .row .col-md-3 ul li span{
    float: right;
 }
 .modal-body .row .col-md-3 ul li em{
     white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    width: 61%;
    display: block;
    color:#333;
    font-style:normal;
 }
  .modal-body .row .col-md-8{
   padding:1px;border: 1px solid #c7d8ea;
   margin-left:5px;
   width:74%;
 }
</style>
</head>

<body>

	<div class=" col-sm-12 col-lg-12  main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">角色管理</li>
			</ol>
		</div>
		<!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs">
			<!-- 		<li><a href="/Letter/add">添加信件</a></li> -->
					<li class="active"><a href="/Admin/Letter">管理信件</a></li>
				</ul>
				<div class="panel panel-default">
					
					<div class="panel-body">
					<div class="bs-bars pull-left"><div id="toolbar">
        <button onClick="deletedatas()" id="remove" data-target="#deleteModal" data-toggle="modal" class="btn btn-danger" disabled>
            <i class="glyphicon glyphicon-remove"></i> 批量删除
        </button>
    </div></div>
						<table id="tab" data-toggle="table" 
							data-show-refresh="true" data-show-toggle="true"
							data-show-columns="true" data-search="true"
							 data-pagination="true"
							data-id-field="id"
							data-sort-name="name" data-sort-order="desc">
							<thead>
								<tr>
									<th data-sortable="true" data-checkbox="true" ></th>
									<th data-field="id" data-align="center">角色ID</th>
									<th data-sortable="true" data-align="center">角色名</th>
									<th data-sortable="true" data-align="center">角色描述</th>
									<th data-sortable="true" data-align="center">操作</th>
								</tr>
							</thead>
								<tbody>
								<#list roleList as list >
							<tr data-index="${list.id}">
								<td></td>
								<td>${list.id}</td>
									<td>${list.rolename}</td>
									<td>${list.description}</td>
									<td><#if
										session.get("AdminModel").hasPermission("/Admin/Role/toUpdate")
										= true > <a href="/Admin/Role/toUpdate?id=${list.id}"> <input
											value="角色权限" type="submit" class="btn btn-primary">
									</a> <#else> </#if> <#if
										session.get("AdminModel").hasPermission("/Admin/Role/deleteRoleById")
										= true >

										<button class="btn btn-danger delete"
										  data-target="#deleteModal" data-toggle="modal" onClick="deleteData(${list.id})"
										  >删除</button> <#else>

										</#if>
										<#if
										session.get("AdminModel").hasPermission("/Admin/Role/toUpdateChannelPrivilege")
										= true >
										 <button  class="btn btn-primary" data-toggle="modal" data-target="#editModal" onClick="sub(${list.id})">栏目权限</button>
										<#else>
										</#if>
										<#if
										session.get("AdminModel").hasPermission("/Admin/Role/toUpdateRoleInfo")
										= true >
										<a href="/Admin/Role/toUpdateRoleInfo?id=${list.id}"> <input
											value="修改用户信息" type="submit" class="btn btn-primary">
									</a> 
									<#else>
										</#if>
									</td>

							</tr>
	
							</#list>

						</table>

					</div>
				</div>
			</div>
		</div>
		<!--/.row-->



	</div>
	<!--/.main-->
		<div class="modal fade" id="deleteModal" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">提醒</h4>
		      </div>
		      <div class="modal-body">
		          删除不可恢复，是否确认删除？
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary del" id="del">删除</button>
		      </div>
		    </div>
		  </div>
	</div>
	
	   <div class="modal fade" id="editModal" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">栏目权限</h4>
		      </div>
		      <div class="modal-body">
		          <div class="row">
		            <div class="col-md-3">
		              <div class="col-2 col-left mr6" style="width:100%">
					      <h6><img src="http://www.gdmx.gov.cn/statics/images/icon/sitemap-application-blue.png" width="16" height="16"> 站点选择</h6>
					          <ul class="content role-memu" id="site_list">
					                 <#list topChannelList as list >
					           <li><a class="set set${list_index}" href="/Admin/Role/toUpdateChannelPrivilege?cid=${list.id}&roleid=6" target="role"><span><img src="http://www.gdmx.gov.cn/statics/images/icon/gear_disable.png" width="16" height="16">设置</span><em>${list.title}</em></a></li>
					          
					                 </#list>
					                     
					                 </ul>
					    </div>
		            </div>
		            <div class="col-md-8">
		              <iframe name="role" id="role" src="/Admin/Role/toUpdateChannelPrivilege?cid=2&roleid=6" frameborder="false" scrolling="auto" style="overflow-x:hidden;border:none" width="100%" height="483" allowtransparency="true"></iframe>
		            </div>
		          </div>
		      </div>
		    </div>
		  </div>
	</div>

	<script>
	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
			$(this).find('em:first').toggleClass("glyphicon-minus");	  
		}); 
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	});
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	});
	
	$('#del').click(function(){
		$id = $(this).data("id");
		window.location.href="/Admin/Role/deleteRoleById?id="+$id;
	});
	var $table = $('#tab'), $remove=$("#remove"), selections = [];
	$table.on('check.bs.table uncheck.bs.table '
			+ 'check-all.bs.table uncheck-all.bs.table', function() {
		$remove.prop('disabled', !$table
				.bootstrapTable('getSelections').length);

		selections = getIdSelections();
	});
	function getIdSelections() {
		return  $.map($table.bootstrapTable('getSelections'), function(row) {
			return row.id;
		});
	}
	function deletedatas(){
		var id=getIdSelections();
		deleteData(id);
	}
	function deleteData(id){
		$('#del').attr("data-id", id);
	}
	function sub(a){ 
		var set=$('.set');
		for(var i=0;i<set.length;i++){
			var str=$('.set'+i).attr('href');
			var string=str.substring(str.length-1);
			var aa=string.replace(string,a);
			var string1=str.substring(0,str.length-1);
			$('.set'+i).attr('href',string1+aa)
		}
	}
</script>
<script type="text/javascript">

</script>
</body>

</html>
