@charset "utf-8";
/* CSS Document */

body{font-family:"宋体",Arial,Helvetica,sans-serif;margin:0;padding:0;font-size:12px;}
ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,p{margin:0px;padding:0px;list-style:none;}
a{ font-size:12px; text-decoration:none; color:#000;}
a:hover{ color:#d72d22; }
img{border:none;}

.mod{width:1002px; margin:0 auto;}
.ftl{float:left;}
.ftr{float:right;}
.blank10{height:10px; font-size:0;line-height:0;}
.clear{clear:both;}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; } 
* html>body .clearfix { display:inline-block; width:100%; } 
*html .clearfix { height:1%; /* End hide from IE-mac */ } 
*+html .clearfix { min-height:1%; }/* ie7 hack*/ 

.mz_top{ height:34px; line-height:34px; width:980px; padding:0 10px; background:url(../images/top_rx.jpg) repeat-x; border:1px solid #c9c9c9; overflow:hidden;}
.mz_top .home_bg{float:left; margin-top:6px;}
.top_home{width:160px; margin-left:8px;}

.xx_search{height:36px; background:#efefef; padding-top:8px; text-align:center;}
.searchTipNew{font-size:14px;}

.pad_title{height:36px; line-height:36px; position:relative;}
.m_pad_title{background:url(../images/mz_btn.gif) no-repeat 0 0; height:35px; line-height:34px;font-size:14px; color:#d7271c; position: absolute; text-indent:14px;padding:0 12px;border-bottom:2px solid #d30000;}
.pad_list,.pad_lists{border:1px solid #dbdbdb; width:984px; padding:5px 8px 10px;}
.pad_list ul li{border-bottom:1px dashed #dbdbdb; height:36px; line-height:36px; width:32.3%; float:left; padding-left:10px;}
.pad_lists ul li{height:36px; line-height:36px; width:11%; float:left; padding-left:10px;}
.pad_list ul li:hover,.pad_lists ul li:hover{ background:#f7f7f7;}
.pad_list ul li a:hover,.pad_lists ul li a:hover{text-decoration:underline;}
.pad_list ul li.li_first,.pad_lists ul li.li_first{border:none;}


/*底部样式*/
.feed-err {clear:both;margin-top:10px;padding-top: 5px;font-size:0px;text-align: center;width: 1002px; border-top:3px solid #d8d8d8;}
.feed-err .select {color: #CC0000;font-weight: bold;}
.footer { background: none repeat scroll 0 0 #FFFFFF;clear: both;padding: 0;position: relative;text-align: center;}
.footer .m-logo { height: 26px;left: 15px;position: absolute;top: 50px;width: 198px;}
.footer .jingcha {height: 70px;position: absolute;right: 30px;top: 60px;width: 160px;}
.footer .copyright{color: #333333;line-height: 180%;margin: 0;padding: 5px;text-align: center;}
.footer p.jiandian{padding:30px 0;}

/*依申请公开首页——梅州市政府信息依申请公开系统首页*/
.framec {float: left; font-size: 14px;padding-left: 80px;padding-top: 4px;width: 580px;}
.search_button {float: left;font-size: 14px;line-height: 22px;width: 50px;height:22px;margin-top:3px;background:url(../images/mz_btn.gif) 0 -45px;}
.search_wjcx {float: left;font-size: 14px;line-height: 30px;text-align: center; width: 180px;}
.search_wjcx a:hover{color:#900; background:#CCC;}
.search_wjcx a, .search_wjcx a:visited {background-color: #FFFFFF;color: #333333;padding: 5px 15px;}

/*底图*/
.topbanner{ font-size:42px; letter-spacing:8px; line-height:60px;padding:25px 0;text-align:center;font-family:"微软雅黑";color:#bf080a; font-weight:bold;}
