/* CSS Document */


.spanformat{ /*挂接表 每条记录的外框 */
   color:#000000;
   font-size:12px;
   width:100%;
   border: 1px solid #FFDFD0;
}

.spanformat_ex1{ /*挂接表 每条记录的外框 扩展方式1 用在产品目录1和2*/
   color:#000000;
   font-size:12px;
   width:32%;
   height:120px;
   border: 1px solid #FFDFD0;
	 margin:3px;
}


.spanformat_ex2{ /*挂接表 每条记录的外框 扩展方式1 视频格式1/2*/
   color:#000000;
   font-size:12px;
   width:48%;
   border: 1px solid #FFDFD0;
	 margin:3px;
}
.spanformat_ex3{ /*挂接表 每条记录的外框 扩展方式3 用在商城格式1*/
   color:#000000;
   font-size:12px;
   width:24%;
   border: 1px solid #FFDFD0;
}
.spanformat_ex4{ /*挂接表 每条记录的外框 扩展方式3 用在产品目录3 用在商城格式2*/
   color:#000000;
   font-size:12px;
   width:100%;
}

.tabf{ /*挂接表 外层表格 在SPANFORMAT之内 有的显示格式未使用 用例<span class=spanformat_ex*><table class=tabf> </table></span>*/
   background-color:#ffffff;
    height:100%;
}
.tabf_ex1{ /*挂接表 外层表格扩展方式一 在SPANFORMAT之内 横向方式1,横向方式二,软件下载用 用例<span class=spanformat_ex*><table class=tabf_ex1> </table></span>*/
   background-color: #ffffff;
}
.tabf_ex1 td{border-bottom:1px solid #e0e0e0;}

.tabimgmin{ 
  /*挂 接表小图 列表页用 */
  height:100px;
}


.tabimgmax{  /*挂 接表大图  最终页用*/
   width:250px;

}

.tabtitle,.tabtitle td{  /*挂接表 标题表格,即表的字段名, 横向方式和某些显示格式用 */
   color:#990000;
   background-color: #FFFAF4;
	 text-align:left;
	 padding-left:5px;
}
.tabtitle a{color:#990000;}

.taburl{ /*挂接表 连接格式 */
color: #000000;

}

.fontmax{ /*挂接表 大字体, 如名片中的名字 */
font-size: 20pt;
line-height: 39px;

}

.fdName{ /*挂接表 字段名, 部分显示格式使用 */
 background-color:#ffffff;
 width:50px;

}

.softTitle a{ /*挂接表 软件下载的软件标题采用 */
 font-weight:bold;
 color:#3366CC;
 margin-left:5px;
}
.software{ /*挂接表 软件下载的软件说明采用 */
	color: #5f5f5f;
	padding-left:5px;
}

.Mname{ /*挂接表 商城商品的名字*/
color: #0000FF;


}

.Price{ /*挂接表 商城商品的价格*/
color: #C0C000;
}


.shop2tab{ /*商城2的表格*/
border-left:1px solid #FFDFD0;
border-top:1px solid #FFDFD0;
border-bottom:none;
border-right:none;
}
.shop2tab td{ /*商城2的表格 继续上面的设置*/
border-right:1px solid #FFDFD0;
border-bottom:1px solid #FFDFD0;
border-left:none;
border-top:none;
}
