
<div class='blank10 mod'></div>
<div class='all_bmdw mod'>
	<div class='all_pad'>
		<div class='pad_title'>
			<h3 class='m_pad_title'>工作部门</h3>
		</div>
		<div class='pad_list'>
			<ul>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007208816'>梅江区委区政府办公室</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211468'>梅江区发展改革和科学技术局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/568289142'>梅江区经济和信息化局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/799329180'>梅江区民族宗教事务局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211660'>梅江区民政局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/57010803X'>梅江区人力资源和社会保障局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/566659568'>梅江区环境保护局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/566666776'>梅江区住房和城乡规划建设局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/570111933'>梅江区交通运输局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/770151614'>梅江区商务局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211767'>梅江区文化广电新闻出版局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/093122081'>梅江区卫生和计划生育局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211695'>梅江区统计局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/769310198'>梅江区安全生产监督管理局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/092373321'>梅江区食品药品监督管理局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211636'>梅江区财政局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211775'>梅江区教育局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/00721145X'>梅江区外事侨务局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211548'>梅江区司法局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211687'>梅江区审计局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/456755401'>梅州市环境卫生管理局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211679'>梅江区监察局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/00721153X'>梅江区体育局</a></li>
				<div class='clear'></div>
			</ul>
		</div>
	</div>
	<div class='blank10'></div>
	<div class='all_pad'>
		<div class='pad_title'>
			<h3 class='m_pad_title'>直属事业单位</h3>
		</div>
		<div class='pad_list'>
			<ul>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211513'>梅江区农业局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211740'>梅江区水务局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211804'>梅江区林业局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/724752785'>梅江区旅游局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/G18934289'>梅江区水产局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/00721161X'>梅江区档案局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/678820627'>梅江区畜牧兽医局</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/708160923'>梅江区二轻集体企业联社</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007211855'>梅江区供销合作联社</a></li>
				<div class='clear'></div>
			</ul>
		</div>
	</div>
	<div class='blank10'></div>
	<div class='blank10'></div>
	<div class='all_pad'>
		<div class='pad_title'>
			<h3 class='m_pad_title'>中央、省属驻梅江区部分单位</h3>
		</div>
		<div class='pad_list'>
			<ul>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007212241'>梅州市工商行政管理局梅江分局</a></li>
				<div class='clear'></div>
			</ul>
		</div>
	</div>
	<div class='blank10'></div>
	<div class='all_pad'>
		<div class='pad_title'>
			<h3 class='m_pad_title'>各乡镇</h3>
		</div>
		<div class='pad_list'>
			<ul>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007214116'>梅江区城北镇人民政府</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007212049'>梅江区长沙镇人民政府</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007212065'>梅江区三角镇人民政府</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007215602'>梅江区西阳镇人民政府</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/742993603'>梅江区人民政府金山街道办事处</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/743677709'>梅江区人民政府西郊街道办事处</a></li>
				<li><a
					href='http://zwgk.meijiang.gov.cn/index/department/007212081'>梅江区人民政府江南街道办事处</a></li>
				<div class='clear'></div>
			</ul>
		</div>
	</div>
</div>

<div class='blank10'></div>

<div class='feed-err mod'></div>
<style type='text/css'>
body {
	background-attachment: fixed;
	padding-bottom: 150px;
}

#bottomNav {
	border-top: 1px solid #ececec;
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	_position: absolute;
	_top: expression_r(documentElement.scrollTop + 
		documentElement.clientHeight-this.offsetHeight);
	overflow: visible;
}

.left {
	width: 50%;
	float: left;
}

.left ul {
	width: 80%;
	float: right;
	overflow: hidden;
	height: auto;
	margin-top: 12px;
}

.left ul li {
	float: left;
	width: 30%;
	margin: 5px;
}
</style>
<div id='bottomNav' class='footer mod'>
	<div class="left">
		<ul>
			<li><a href="open_guide.php"><img src="${public}/images/arrow_r_u.jpg">
					政府信息公开指南</a></li>
			<li><a href="open_menu.php"><img src="${public}/images/arrow_r_u.jpg">
					政府信息公开目录</a></li>
			<li><a href="open_report.php"><img
					src="${public}/images/arrow_r_u.jpg"> 政府工作年度报告</a></li>
			<li><a href="open_system.php"><img
					src="${public}/images/arrow_r_u.jpg"> 依申请公开</a></li>
			<li><a href="open_view.php"><img src="${public}/images/arrow_r_u.jpg">
					政府信息公开意见箱</a></li>
			<li><a href="field_info.php"><img src="${public}/images/arrow_r_u.jpg">
					重点领域信息公开</a></li>
		</ul>
	</div>
	<div class="right">
		<p class='jiandian'>本栏目信息由梅江区委区政府办公室维护管理</p>
	</div>
</div>
</body>
</html>