<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>建议编修地名志</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>



<body>	  
<div class="wrap">



<form name="msCommunicateWebForm" method="post" action="/msCommunicateWebAction.do">
<input type="hidden" name="id" value="163675">
<input type="hidden" name="fresh" value="false">
<input type="hidden" name="queryWay" value="0">
<input type="hidden" name="scoreType" value="0">
<input type="hidden" name="action" value="userScore">

   <div class="main">
	
	  <div class="box1">
			<div class="box1_top"></div>
			<div class="box2_center">
				
				
				
				
				
				<table class="Tab1" width="100%" border="0" cellspacing="1" cellpadding="0">
					<tbody><tr class="Tab1Title"> 
						<td height="35" colspan="6">咨询信息</td>
					</tr>
					<tr>
						<td width="13%" height="30" class="Tab1Td3">咨询人</td>
						<td class="Tab1Td4" colspan="3">市民</td>
					</tr>
					<tr>
						<td width="13%" height="30" class="Tab1Td3">类型</td>
						<td class="Tab1Td4">建议</td>
						<td width="13%" class="Tab1Td3">来信时间</td>
						<td class="Tab1Td4">2016-10-28 17:24:02</td>
					</tr>						
					<tr>
						<td width="13%" height="30" class="Tab1Td3">标题</td>							
						 <td class="Tab1Td4" colspan="3">建议编修地名志</td>
					</tr>
					<tr>
						<td width="13%" class="Tab1Td3">内容</td>
						<td class="Tab1Td5" colspan="3">梅州市地名志上一轮编修是近30年前1989年出版的了，地名承载着人类文明成果，是珍贵的非物质文化遗产。请市领导组织相关部门编纂梅州市地名志，承前启后、继往开来。</td>
					</tr>
					
					<tr class="Tab1Title"> 					
					   <td height="35" colspan="4">回复信息</td>
					</tr>				
					
					
					<tr>
						<td width="13%" height="30" class="Tab1Td3">回复类型</td>
						<td class="Tab1Td5" colspan="3">答复</td>
					</tr>				
					<tr>
						<td width="13%" height="30" class="Tab1Td3">处理部门</td>
						<td class="Tab1Td4">
						梅州市直 - 市民政局
						</td>
						<td width="13%" height="30" class="Tab1Td3">处理时间</td>
						<td class="Tab1Td4">
						2016-11-07 17:25:18.0
						</td>
					</tr>
					<tr>
						<td width="13%" height="30" class="Tab1Td3">处理意见</td>
						<td class="Tab1Td5" colspan="3">
						
						目前我市正在开展全国第二次地名普查，2014年下半年启动，至2018年上半年完成。市民政局拟在完成地名普查的基础上，争取市政府拨款，组织编纂出版新版《梅州地名志》。
						</td>
					</tr>
						
					
					<tr><td class="Tab1Td5" colspan="4"></td></tr>
					
					
					
				 	   
				</tbody></table>
				
				<table style="margin-top:10px;" width="100%">
				   <tbody><tr>
					 <td align="center">
					 
					 <input type="button" style="cursor:pointer" onclick="window.close();" value=" 关 闭 ">
					 </td>	
					 </tr>			   
				 </tbody></table>
				
				
			</div>
			<div class="box1_bottom"></div>
		</div>
		
	</div>
	

</form>
</div>		


</body></html>