<#include '/WEB-INF/templates/mxcommon2/header.html'>
<link rel="stylesheet" type="text/css" href="${public}/css2/common.css">
<div class="index_content">
	<!-- headline部分 -->
   	<div class="wid leader">
		<div class="mt10 ftl border1">
            <div class="title9 font-size18"><img class="ftl mt5 pl50" src="https://www.meizhou.gov.cn/styles/default/imageset/icon15.png">领导之窗</div>
            <div class="clear"></div>
			<ul class="ldzc">
                                    <li class="font-color font-weight font-size16">市　长</li>
                                            <li class="active"><a href="https://www.meizhou.gov.cn/special/ldzc/40955" target="_self" class="font-size16">方利旭</a></li>
                                                        <li class="font-color font-weight font-size16">副市长</li>
                                            <li><a href="https://www.meizhou.gov.cn/special/ldzc/40957" target="_self" class="font-size16">谈志向</a></li>
                                            <li><a href="https://www.meizhou.gov.cn/special/ldzc/40958" target="_self" class="font-size16">陈建青</a></li>
                                            <li><a href="https://www.meizhou.gov.cn/special/ldzc/40959" target="_self" class="font-size16">陈丽霞</a></li>
                                            <li><a href="https://www.meizhou.gov.cn/special/ldzc/40960" target="_self" class="font-size16">李远青</a></li>
                                            <li><a href="https://www.meizhou.gov.cn/special/ldzc/40961" target="_self" class="font-size16">陈俊钦</a></li>
                                            <li><a href="https://www.meizhou.gov.cn/special/ldzc/130552" target="_self" class="font-size16">吴泽桐</a></li>
                                    
			</ul>
        </div><!--left_list-->

        <div class="right_list mt10 ftr ">
            <div class="border3 p20 back_color_img2">
				<div class="ftl" style=" width:138px;">
					<div class="ldzc_img">
						<img src="https://www.meizhou.gov.cn/upload/download/381}/view" alt="市　长：方利旭">
					</div>
					<h3 class="font-color tac">市　长：方利旭</h3>
                    <h3 class="font-color tac"></h3>
				</div>
                
				<div class="ftr" style=" width:520px;">
					<div class="title6"><h3>工作分工 </h3></div>
					<div class="p10 lineheight32 font-size16">
						<p>　　主持市政府全面工作，分管审计工作。</p>
					</div>
					<div class="title6"><h3>个人简历 </h3></div>
					<div class="p10 lineheight32 font-size16">
						<p style="text-indent: 2em;">方利旭，男，汉族，1963年10月出生，广东普宁人，研究生学历，哲学硕士，1989年6月参加工作，1989年6月加入中国共产党，现任梅州市委副书记，市政府市长、党组书记。</p>
<p style="text-indent: 2em;">1986年6月，华南师范大学生物系生物学专业大学毕业，获生物学学士学位；</p>
<p style="text-indent: 2em;">1989年6月，广州中医学院科学技术哲学专业研究生毕业，获华南师范大学科学技术哲学专业哲学硕士学位；</p>
<p style="text-indent: 2em;">1989年6月后，任省政府外事办科员；</p>
<p style="text-indent: 2em;">1992年12月后，任省政府外事办副主任科员；</p>
<p style="text-indent: 2em;">1996年4月后，任省政府外事办主任科员；</p>
<p style="text-indent: 2em;">1996年6月后，任省专利局综合处副处长；</p>
<p style="text-indent: 2em;">1997年6月后，任省专利局综合处处长；</p>
<p style="text-indent: 2em;">1999年10月后，任澄海市委副书记（正处级）；</p>
<p style="text-indent: 2em;">2001年3月后，任汕头市龙湖区委副书记、区长；</p>
<p style="text-indent: 2em;">2005年6月后，任汕头市委常委（其间：参加援疆工作，任新疆哈密地委委员、哈密市委书记）；</p>
<p style="text-indent: 2em;">2008年7月后，任潮州市委常委、常务副市长（2009.07-2009.08省第5期领导干部公共管理高级培训班学习）；</p>
<p style="text-indent: 2em;">2013年8月后，任省政府副秘书长，省援疆前方指挥部总指挥、新疆喀什地委副书记；</p>
<p style="text-indent: 2em;">2014年12月后，任省政府副秘书长、办公厅党组成员，省援疆前方指挥部总指挥、新疆喀什地委副书记；</p>
<p style="text-indent: 2em;">2016年7月后，任梅州市委副书记、市长候选人；</p>
<p style="text-indent: 2em;">2016年8月后，任梅州市委副书记，市政府党组书记、副市长、代市长、市长。</p>
<p style="text-indent: 2em;">(来源：梅州市人民政府办公室）</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
        </div><!--right_list-->

        <div class="clear"></div>
        <div class="blank10"></div>
    </div>
</div>
   	
<#include '/WEB-INF/templates/mxcommon2/footer.html'>