<#include '/WEB-INF/templates/mxcommon2/header.html'>
<link rel="stylesheet" type="text/css" href="${public}/css2/base.css">
<link rel="stylesheet" type="text/css" href="${public}/css2/min.css">
<div class="index_content">
    <div class="wid">
    <img src="${public}/images2/banner_zsyz.jpg" width="1022" height="100">

    <div class="list-topBox mb20"><span class="fl"><a href="https://www.meizhou.gov.cn/">网站首页</a>

        &gt;&gt;<a href="http://www.meizhou.gov.cn/approve/class">办事服务</a> 
        &gt;&gt;<a href="https://www.meizhou.gov.cn/bsfw/ggfw/index.htm">公共服务</a> 
        &gt;&gt;<a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/index.htm">企业服务</a> 
        &gt;&gt;<a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/index.htm">招商引资专题</a> 
    </span></div>

    <div class="news_img ftl focusBox mr12" style="margin-right: 8px;">
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
        <ul class="pic" style="position: relative; width: 504px; height: 345px;">

            <li style="position: absolute; width: 504px; left: 0px; top: 0px; display: none;"><a href="http://www.meizhou.gov.cn/zwgk1/gzdt/zwyw/t20161009_110639.htm" target="_blank"><img src="https://www.meizhou.gov.cn/zwgk/zwdt/zwyw/h000/h65/img201610091156330.jpg"></a></li>
            <li style="position: absolute; width: 504px; left: 0px; top: 0px; display: list-item;"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161007_99450.htm" target="_blank"><img src="https://www.meizhou.gov.cn/upload/download/3865/view/1"></a></li>
            <li style="position: absolute; width: 504px; left: 0px; top: 0px; display: none;"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161007_99443.htm" target="_blank"><img src="https://www.meizhou.gov.cn/zwgk/zwdt/zwyw/h000/h65/img201608311524470.jpg"></a></li>
            <li style="position: absolute; width: 504px; left: 0px; top: 0px; display: none;"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161007_99441.htm" target="_blank"><img src="https://www.meizhou.gov.cn/upload/download/3867/view/1"></a></li>
        </ul>
        <div class="txt-bg"></div>
        <div class="txt">
            <ul>
                <li style="bottom: -36px;"><a href="http://www.meizhou.gov.cn/zwgk1/gzdt/zwyw/t20161009_110639.htm" target="_blank" title="穗梅对口帮扶 推进产业共建 ">穗梅对口帮扶 推进产业共建 </a></li>
                <li style="bottom: 0px;"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161007_99450.htm" target="_blank" title="嘉应新区9个项目落地生根">嘉应新区9个项目落地生根</a></li>
                <li style="bottom: -36px;"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161007_99443.htm" target="_blank" title="梅州重实体兴实业创新发展">梅州重实体兴实业创新发展</a></li>
                <li style="bottom: -36px;"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161007_99441.htm" target="_blank" title="梅蓄电站项目完成投资逾6亿">梅蓄电站项目完成投资逾6亿</a></li>
            </ul>
        </div>

        <ul class="num">
            <li class=""><a></a><span></span></li>
            <li class="on"><a></a><span></span></li>
            <li class=""><a></a><span></span></li>
            <li class=""><a></a><span></span></li>
        </ul>
    </div>

    <style>
        .news_img {
            width: 380px;
            height: 260px;
        }

        .news_img .pic img {
            width: 380px;
            height: 260px;
            display: block;
        }

        .focusBox .prev, .focusBox .next {
            top: 80px;
        }
    </style>
    <div class="ftl border_min pr10 pl10" style="width:280px;  height: 260px; position:relative;">

        <div class="title11 border_b04 pl10 pr10"><h3 class="ftl">招商新闻 </h3></div>
        <p class="more1"><a target="_blank" href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/index.htm">更多+</a></p>
        <div class="content_min">
            <ul>

                <li><span class="date">[11-16]</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/bmdt/t20161116_130845.htm" target="_blank" title="　 丰顺新区：着力打造百亿电声产业集群，扎实推进绿色健康文化旅游产业带建设。　">丰顺新区：着力打造百亿电...</a></li>
                <li><span class="date">[11-15]</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/zwyw/t20161115_130726.htm" target="_blank" title="全市前三季度投近20亿建园区基础设施　提高园区承载能力　">全市前三季度投近20亿建园区...</a></li>
                <li><span class="date">[11-14]</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/fwdt2/t20161114_130668.htm" target="_blank" title="　产业园实现增加值逾55亿元　">产业园实现增加值逾55亿元...</a></li>
                <li><span class="date">[11-13]</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/zwyw/t20161113_130597.htm" target="_blank" title="广梅产业园发展工业与保护环境并进，获评省首批循环经济工业园区　发展循环经济 打造生态园区　">广梅产业园发展工业与保护环境...</a></li>
                <li><span class="date">[11-12]</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/gqxdt/t20161112_130581.htm" target="_blank" title="梅江区前三季度超额完成市下达招商引资目标　着力推进产业转型升级　">梅江区前三季度超额完成市下达...</a></li>
                <li><span class="date">[11-01]</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/bmdt/t20161101_129540.htm" target="_blank" title="　丰顺新区： 广东汇威高科技园投产 电子制造产业再添新军　">丰顺新区： 广东汇威高科技...</a></li>
            </ul>
        </div>
    </div>

    <div class="ftr border_min pr10 pl10" style="width:280px;  height: 260px; position:relative;">

        <div class="title11 border_b04 pl10 pr10"><h3 class="ftl">招商公告 </h3></div>
        <p class="more1"><a target="_blank" href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzgg4/index.htm">更多+</a></p>
        <div class="content_min">
            <ul>

                <li><span class="date">[10-10]</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzgg4/t20161010_110895.htm" target="_blank" title="关于发动企业参加第十届中国(合肥)国际家用电器暨消费电子博览会的通知">关于发动企业参加第十届中国(...</a></li>
                <li><span class="date">[09-30]</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzgg4/t20160930_110890.htm" target="_blank" title="关于发动企业参加第十六届中国西部国际博览会的通知">关于发动企业参加第十六届中国...</a></li>
                <li><span class="date">[09-21]</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzgg4/t20160921_110902.htm" target="_blank" title="关于召开第120届广交会筹备工作暨出口信保政策宣讲会的通知">关于召开第120届广交会筹备...</a></li>
                <li><span class="date">[09-07]</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzgg4/t20160907_110904.htm" target="_blank" title="关于做好第120届广交会梅州分团证件管理工作的通知">关于做好第120届广交会梅州...</a></li>
                <li><span class="date">[07-07]</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzgg4/t20160707_110894.htm" target="_blank" title="关于2016年省外贸稳增长调结构专项资金分配计划的公示">关于2016年省外贸稳增长调...</a></li>
            </ul>
        </div>
    </div>

    <div class="ftl border_min pr10 pl10 mt15 mr12" style="width:464px; height: 235px; position:relative;">
        <div class="title11 border_b04 pl10 pr10 mb10"><h3 class="ftl">投资指南 </h3></div>

        <ul class="tzzn">

            <li class="back_color18 border4"><a href="http://www.mzzsw.cn/info/tzhj/" target="_blank"><img src="${public}/images2/icon85.png">
                <p>投资环境</p></a></li>

                <li class="back_color18 border4"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/index.htm" target="_blank"><img src="${public}/images2/icon86.png">
                    <p>园区风采</p></a></li>


                    <li class="back_color18 border4"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/fwjg1/t20161007_101691.htm" target="_blank"><img src="${public}/images2/icon87.png">
                        <p>服务机构</p></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>

                <div class="ftr border_min pr10 pl10 mt15 cjwt" style="width:480px; height: 235px; position:relative; height:235px;">

                    <div class="title11 border_b04 pl10 pr10"><h3 class="ftl">重大发展战略</h3></div>
                    <p class="more1"><a target="_blank" href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzdt/index.htm">更多+</a></p>
                    <div class="content_min">
                        <h2 class="mt15"><a href="" target="_blank"><img src="${public}/images2/tz_01.jpg" height="147" width="152"></a></h2>
                        <ul style="width:310px;" class="ftr">

                            <li><span class="date">(11-16)</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/bmdt/t20161116_130845.htm" target="_blank" title=" 丰顺新区：着力打造百亿电声产业集群，扎实推进绿色健康文化旅游产业带建设。"> 丰顺新区：着力打造百亿电声产业...</a></li>
                            <li><span class="date">(10-16)</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/gqxdt/t20161016_111780.htm" target="_blank" title="恒宝缘稀土产业园在平远动工">恒宝缘稀土产业园在平远动工</a></li>
                            <li><span class="date">(10-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzdt/t20161007_101585.htm" target="_blank" title="大气环境保护规划">大气环境保护规划</a></li>
                            <li><span class="date">(10-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzdt/t20161007_101584.htm" target="_blank" title="生态环境保护规划">生态环境保护规划</a></li>
                            <li><span class="date">(10-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/tzdt/t20161007_101583.htm" target="_blank" title="核心区市政基础设施规划">核心区市政基础设施规划</a></li>
                        </ul>
                    </div>
                </div>

                <div class="ftl border_min pr10 pl10 mtb15" style="width:322px; height: 230px; position:relative;">

                    <div class="title11 border_b04 pl10 pr10"><h3 class="ftl">优惠政策 </h3></div>
                    <p class="more1"><a target="_blank" href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/yqfc/index.htm">更多+</a></p>
                    <div class="content_min">
                        <ul>

                            <li><span class="date">(11-14)</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/gqxdt/t20161114_130679.htm" target="_blank" title="鼓励企业上市发展实体经济">鼓励企业上市发展实体经济</a></li>
                            <li><span class="date">(11-07)</span><a href="https://www.meizhou.gov.cn/zwgk1/gzdt/bmdt/t20161107_130232.htm" target="_blank" title="蕉华工业园出台奖励政策加快工业项目建设">蕉华工业园出台奖励政策加快工业项...</a></li>
                            <li><span class="date">(10-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/yqfc/t20161007_101601.htm" target="_blank" title="梅州市鼓励扶持文化产业项目发展优惠政策">梅州市鼓励扶持文化产业项目发展优...</a></li>
                            <li><span class="date">(10-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/yqfc/t20161007_101600.htm" target="_blank" title="梅州市发展电子商务和现代物流产业 三年行动计划（2013—2015年)">梅州市发展电子商务和现代物流产业...</a></li>
                            <li><span class="date">(10-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/yqfc/t20161007_101599.htm" target="_blank" title="梅州市人民政府办公室印发关于促进旅游业快速发展扶持办法的通知">梅州市人民政府办公室印发关于促进...</a></li>
                        </ul>
                    </div>
                </div>

                <div class="ftr border_min pr10 pl10 mtb15" style="width:626px; height: 230px; position:relative;">
                    <div class="zsxm">

                        <div class="title11 border_b04 pl10 pr10"><h3 class="ftl">招商项目  </h3>
                            <div class="hd">
                                <ul>

                                    <li class="on"><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/gyxm/index.htm" target="_blank">工业项目</a></li>
                                    <li><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/nyxm/index.htm" target="_blank">农业项目</a></li>
                                    <li><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/whly/index.htm" target="_blank">文化旅游</a></li>
                                    <li><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/qtxm/index.htm" target="_blank">其它项目</a></li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="mt15 ftl"><a href="" target="_blank"><img src="${public}/images2/tz_01.jpg" height="147" width="152"></a></h2>
                        <div class="bd content_min ftr" style=" width:465px;">

                            <ul>

                                <li><span class="date">(10-07)</span><a href="http://www.mzzsw.cn/plus/view.php?aid=5527" target="_blank">梅州市对外招商项目汇编电子书</a></li>
                                <li><span class="date">(04-07)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/gyxm/t20160407_73763.htm" target="_blank">梅县兴宁蕉岭获评优秀等次</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/gyxm/t20151218_102001.htm" target="_blank">食品饮料深加工项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/gyxm/t20151218_102000.htm" target="_blank">电子元件及组件制造项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/gyxm/t20151218_101998.htm" target="_blank">LED外延和芯片制造项目</a></li>
                            </ul>
                            <ul style="display: none;">

                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/nyxm/t20151218_102005.htm" target="_blank">中药材综合开发利用项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/nyxm/t20151218_102004.htm" target="_blank">特色生态休闲农业示范区项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/nyxm/t20151218_102003.htm" target="_blank">金柚综合深加工项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/nyxm/t20151218_102002.htm" target="_blank">蕉华东部健康生态产业园</a></li>
                            </ul>
                            <ul style="display: none;">

                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/whly/t20151218_101834.htm" target="_blank">宜居商旅休闲城项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/whly/t20151218_101833.htm" target="_blank">蕉华东部健康生态产业园</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/whly/t20151218_101832.htm" target="_blank">客侨文化旅游项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/whly/t20151218_101831.htm" target="_blank">九龙嶂风景区开发项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/whly/t20151218_101817.htm" target="_blank">客家文化特色旅游村项目</a></li>
                            </ul>
                            <ul style="display: none;">

                                <li><span class="date">(08-17)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/qtxm/t20160817_74959.htm" target="_blank">1至7月引进75个合同项目 </a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/qtxm/t20151218_101758.htm" target="_blank">商会总部大厦项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/qtxm/t20151218_101757.htm" target="_blank">江南新城棚户区改造安置房建设项目（二...</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/qtxm/t20151218_101756.htm" target="_blank">传统民居开发利用项目</a></li>
                                <li><span class="date">(12-18)</span><a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm1/qtxm/t20151218_101755.htm" target="_blank">食品饮料、生物医药产业</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="clear"></div>


                <div class="border_min qyfc">

                    <div class="title1"><h2 class="ftl" style="text-align:center; color:#FFF;">企业风采</h2></div>
                    <div class="threeScroll2 ftl qyfc_con">
                        <a class="prev" href="javascript:void(0)"></a>
                        <div class="scrollWrap">
                            <div class="tempWrap" style="overflow:hidden; position:relative; width:920px"><div class="dlList" style="width: 2300px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1150px;"><dl class="clone" style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102450.htm" target="_blank" title="迈科特生物科技有限公司">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3879/view/1" class="mb5">
                                        <p>迈科特生物科技有限公司</p>
                                    </a>
                                </dt>
                            </dl>

                            <dl style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102454.htm" target="_blank" title="丰顺金德宝凯悦国际温泉（SPA）度假酒店">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3871/view/1" class="mb5">
                                        <p>丰顺金德宝凯悦国际温泉（SP...</p>
                                    </a>
                                </dt>
                            </dl>
                            <dl style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102453.htm" target="_blank" title="广东新南方青蒿科技有限公司">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3873/view/1" class="mb5">
                                        <p>广东新南方青蒿科技有限公司</p>
                                    </a>
                                </dt>
                            </dl>
                            <dl style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102452.htm" target="_blank" title="广东嘉味鲜食品有限公司">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3874/view/1" class="mb5">
                                        <p>广东嘉味鲜食品有限公司</p>
                                    </a>
                                </dt>
                            </dl>
                            <dl style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102451.htm" target="_blank" title="梅州金塔水泥有限公司">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3876/view/1" class="mb5">
                                        <p>梅州金塔水泥有限公司</p>
                                    </a>
                                </dt>
                            </dl>
                            <dl style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102450.htm" target="_blank" title="迈科特生物科技有限公司">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3879/view/1" class="mb5">
                                        <p>迈科特生物科技有限公司</p>
                                    </a>
                                </dt>
                            </dl>
                            <dl class="clone" style="float: left; width: 230px;">
                                <dt>
                                    <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102454.htm" target="_blank" title="丰顺金德宝凯悦国际温泉（SPA）度假酒店">
                                        <img src="https://www.meizhou.gov.cn/upload/download/3871/view/1" class="mb5">
                                        <p>丰顺金德宝凯悦国际温泉（SP...</p>
                                    </a>
                                </dt>
                            </dl><dl class="clone" style="float: left; width: 230px;">
                            <dt>
                                <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102453.htm" target="_blank" title="广东新南方青蒿科技有限公司">
                                    <img src="https://www.meizhou.gov.cn/upload/download/3873/view/1" class="mb5">
                                    <p>广东新南方青蒿科技有限公司</p>
                                </a>
                            </dt>
                        </dl><dl class="clone" style="float: left; width: 230px;">
                        <dt>
                            <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102452.htm" target="_blank" title="广东嘉味鲜食品有限公司">
                                <img src="https://www.meizhou.gov.cn/upload/download/3874/view/1" class="mb5">
                                <p>广东嘉味鲜食品有限公司</p>
                            </a>
                        </dt>
                    </dl><dl class="clone" style="float: left; width: 230px;">
                    <dt>
                        <a href="https://www.meizhou.gov.cn/bsfw/ggfw/qyfw/zsyzzt/zsxm/yqfcl/t20161008_102451.htm" target="_blank" title="梅州金塔水泥有限公司">
                            <img src="https://www.meizhou.gov.cn/upload/download/3876/view/1" class="mb5">
                            <p>梅州金塔水泥有限公司</p>
                        </a>
                    </dt>
                </dl></div></div>
            </div>

            <a class="next" href="javascript:void(0)"></a>
            <div class="clear"></div>
            </div>
    </div>

</div>
</div>

<#include '/WEB-INF/templates/mxcommon2/footer.html'>