<#include '/WEB-INF/templates/mxcommon2/header.html'>
<link rel="stylesheet" type="text/css" href="${public}/css2/common.css">
<div class="index_content">
	<div class="wid pt10">
	<div class="list-topBox" style="border-bottom:none;">
		<span class="fl">位置：
			<a href="https://www.meizhou.gov.cn/approve/class">办事服务</a> &gt;&gt;
			<a href="">单位事项</a>
		</span>
	</div>

	<div class="left_list mt10 ftl border1" id="left_bmlist">
		<div class="title"><img class="ftl mt5 pl50" src="https://www.meizhou.gov.cn/styles/default/imageset/icon15.png">部门服务</div>
		<div class="clear"></div>
		<ul>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=213100">梅州市机构编制委员会办公室</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=213050">梅州市发改局</a></li>
			<li class="on"><a href="https://www.meizhou.gov.cn/approve/department?code=212100">梅州市经信局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=213101">梅州市教育局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210064">梅州市民宗局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210082">梅州市公安局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210056">梅州市民政局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210051">梅州市司法局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=212102">梅州市财政局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=213051">梅州市人社局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210058">梅州市国土局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210062">梅州市环保局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210079">梅州市住建局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210072">梅州市交通局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210069">梅州市水务局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=213052">梅州市农业局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210067">梅州市商务局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210076">梅州市文广新局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210068">梅州市卫生和计划生育局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=230002">梅州市外事侨务局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=232000">梅州市体育局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210066">梅州市统计局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210074">梅州市林业局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210083">梅州市旅游局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210078">梅州市安全生产监督管理局 </a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210055">梅州市法制局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=212003">梅州市规划局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210075">梅州市城市综合管理局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210077">梅州市药监局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210065">梅州市人防办</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=211064">梅州市高新区管委会</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=214000">梅州市工商局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=217853">梅州市国税局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210057">梅州市地税局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=212002">梅州市质监局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210053">梅州市气象局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210052">梅州市科学技术局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210054">梅州市档案局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=212000">梅州市国家安全局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=226300">梅州市公安消防局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=226301">梅州市金融工作局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210070">梅州市住房公积金管理中心</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210050">梅州市残联</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=221100">梅州市出入境检验检疫局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210060">梅州市航道局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=232100">梅州海事局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=226304">梅州市社会保险基金管理局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210059">梅州市粮食局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210061">梅州市公路局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210080">梅州市畜牧局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=232250">梅州市中小企业局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210063">梅州市烟草专卖局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210073">梅州市外汇管理局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=230250">广东渔业船舶检验局梅州分局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=219400">梅州市盐务局</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=210071">梅州市蕉华管理区</a></li>
			<li><a href="https://www.meizhou.gov.cn/approve/department?code=230650">梅州市人民政府台湾事务局</a></li>
			
			<div class="clear"></div>
		</ul>

	</div>
	<script>
		function goToSerach(form) {
			$("#myform").submit();
		}
	</script>

	<div class="right_list mt10 ftr">
		<form method="post" action="https://www.meizhou.gov.cn/search/index" id="myform">
			<div class="bsfw_search ftl">
				<div class="querybox">
					<input name="keyword" placeholder="输入您要查询的服务" id="searchInput" class="input_key" onfocus="glb_searchTextOnfocus(this);" onblur="glb_searchTextOnBlur(this);">
					<input name="classify" value="bsfw" type="hidden">
					<a href="javascript:;" class="img_but" onclick="return goToSerach(this.form);"></a>
				</div>
			</div>
			<p class="hot ftl ml10">热词：
				
				<a class="hot" href="#" onclick="javascript:openSearch('https://www.meizhou.gov.cn/', '环保', 'bsfw')">环保</a>
				<a class="hot" href="#" onclick="javascript:openSearch('https://www.meizhou.gov.cn/', '计划生育', 'bsfw')">计划生育</a>
			</p>
		</form>
		<div class="clear"></div>
		<div class="mt10 border1">
			<div class="listbox">
				<ul>
					<script type="text/javascript">
						$(document).ready(function () {
							$(".ckxsx_butbox").toggle(function () {
								$(this).removeClass("ckxsx_butbox1").addClass("ckxsx_butbox2");
								$(this).parent().parent().find('ul').attr("style", "display:block");
							}, function () {
								$(this).removeClass("ckxsx_butbox2").addClass("ckxsx_butbox1");
								$(this).parent().parent().find('ul').attr("style", "display:none");
							}
							);
						});
					</script>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=36366" target="_blank" title="无线电频率指配审批" urllink="" class="linkkey">无线电频率指配审批</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=36377" target="_blank" title="无线电台（站）的设置使用和呼号指配审批" urllink="" class="linkkey">无线电台（站）的设置使用和呼号指配审批</a>
						</p>
					</li>
					<li>
						<p onclick="javascript:void(0);">成品油零售经营资格初审</p>
						<div class="function_btn">
							<a href="javascript:void(0);" class="ckxsx_butbox ckxsx_butbox1" title="查看小事项"></a>
						</div>
						<ul style="display: none;">
							<li>
								<p>
									<a href="https://www.meizhou.gov.cn/approve/content?id=37271" target="_blank" title="成品油零售经营资格初审" urllink="http://banshi.beijing.gov.cn/bsfwzy/201512/t20151217_22110.html" class="linkkey">成品油零售经营资格初审</a>
								</p>
							</li>
							<li>
								<p>
									<a href="https://www.meizhou.gov.cn/approve/content?id=37278" target="_blank" title="成品油零售经营资格初审" urllink="http://banshi.beijing.gov.cn/bsfwzy/201512/t20151217_22110.html" class="linkkey">成品油零售经营资格初审</a>
								</p>
							</li>
							<li>
								<p>
									<a href="https://www.meizhou.gov.cn/approve/content?id=37280" target="_blank" title="成品油零售经营资格初审" urllink="http://banshi.beijing.gov.cn/bsfwzy/201512/t20151217_22110.html" class="linkkey">成品油零售经营资格初审</a>
								</p>
							</li>
							<li>
								<p>
									<a href="https://www.meizhou.gov.cn/approve/content?id=37299" target="_blank" title="成品油零售经营资格初审" urllink="http://banshi.beijing.gov.cn/bsfwzy/201512/t20151217_22110.html" class="linkkey">成品油零售经营资格初审</a>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=43119" target="_blank" title="市管权限的工业、商贸流通业、信息化领域技术改造投资项目备案" urllink="" class="linkkey">市管权限的工业、商贸流通业、信息化领域技术改造投资项目备案</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=43120" target="_blank" title="工业和信息化领域技术改造投资项目招标核准" urllink="" class="linkkey">工业和信息化领域技术改造投资项目招标核准</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=49351" target="_blank" title="成品油零售经营批准证书年审" urllink="" class="linkkey">成品油零售经营批准证书年审</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=110603251" target="_blank" title="市属单位进口无线电发射设备审批" urllink="" class="linkkey">市属单位进口无线电发射设备审批</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=110603252" target="_blank" title="建设产生无线电波辐射的工程设施选址确定" urllink="" class="linkkey">建设产生无线电波辐射的工程设施选址确定</a>
						</p>
					</li>
					<li>
						<p onclick="javascript:void(0);">监控化学品用户审核</p>
						<div class="function_btn">
							<a href="javascript:void(0);" class="ckxsx_butbox ckxsx_butbox1" title="查看小事项"></a>
						</div>
						<ul style="display: none;">
							<li>
								<p>
									<a href="https://www.meizhou.gov.cn/approve/content?id=113013667" target="_blank" title="监控化学品用户审核" urllink="http://banshi.beijing.gov.cn/bsfwzy/201512/t20151217_22110.html" class="linkkey">监控化学品用户审核</a>
								</p>
							</li>
							<li>
								<p>
									<a href="https://www.meizhou.gov.cn/approve/content?id=113013670" target="_blank" title="监控化学品用户审核" urllink="http://banshi.beijing.gov.cn/bsfwzy/201512/t20151217_22110.html" class="linkkey">监控化学品用户审核</a>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=113251378" target="_blank" title="省节能服务单位备案初审" urllink="" class="linkkey">省节能服务单位备案初审</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=113251379" target="_blank" title="省自愿性清洁生产企业认定初审" urllink="" class="linkkey">省自愿性清洁生产企业认定初审</a>
						</p>
					</li>
					<li>
						<p>
							<a href="https://www.meizhou.gov.cn/approve/content?id=121629900" target="_blank" title="工业和信息化领域技术改造项目节能审查" urllink="" class="linkkey">工业和信息化领域技术改造项目节能审查</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

<#include '/WEB-INF/templates/mxcommon2/footer.html'>