<#include '/WEB-INF/templates/mxcommon2/header.html'>
  <link rel="stylesheet" type="text/css" href="${public}/css2/common.css">
<div class="index_content">
     <div class="navigation">
        <div class="navigation-content">网站首页>><span>走进梅县</span></div>
    </div>  
<!--页面顶部开始-->
    <div class="wid pt10">
        <div class="introduce1">
            <div class="left ftl tong">



<div class="mz_map" style="background:url(${public}/images2/map.png);width:280px;height:300px;">

    <div class="mover mover_s" style="margin-left:132px; margin-top:22px;" onmousemove="setMap('jl1')"></div>
    <div class="mover mover_s" style="margin-left:90px; margin-top:21px;" onmousemove="setMap('py1')"></div>
    <div class="mover mover_s" style="margin-left:55px; margin-top:97px;" onmousemove="setMap('xn1')"></div>
    <div class="mover mover_h" style="margin-left:40px; margin-top:194px;" onmousemove="setMap('wh1')"></div>
    <div class="mover mover_h" style="margin-left:204px; margin-top:108px;" onmousemove="setMap('dp1')"></div>
    <div class="mover mover_s" style="margin-left:108px; margin-top:76px;" onmousemove="setMap('mj1')"></div>
    <div class="mover mover_h" style="margin-left:97px; margin-top:129px;" onmousemove="setMap('mx1')"></div>
    <div class="mover mover_h" style="margin-left:138px; margin-top:180px;" onmousemove="setMap('fs1')"></div>
    
    <div id="map">
        

                              
            <div id="dp1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('dp1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/5.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">大埔县</h2>
                     <span class="font-size14"> 大埔县（ dà bù xiàn）是广东省梅州市辖县，位于广东省东北部、韩江中上游，地处北纬24°01′～24°41′、东经116°18′～116°56′之间，东北紧靠福建省平和县、永定县，东南连接潮州市饶平县，西依梅县区、梅江区，南邻丰顺县。全县总面积2467平方公里。至2013年，全县总人口553945人，县内居民均为客家人，主要为汉族，此外，有少量蒙古、回、壮、满、瑶、土家、黎等少数...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="py1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('py1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/8.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">平远县</h2>
                     <span class="font-size14"> 平远县位于广东省东北部，粤、赣、闽三省交界处，东边与广东省蕉岭县相邻，南边与广东省梅州市梅县区相邻，西北与江西省寻乌县相邻，西边与广东省兴宁市相邻，北边与福建省武平县相邻。介于北纬24°23′~24°56′，东经115°43′~116°07′。全县总面积1381平方公里，其中山地、丘陵11.16万公顷，耕地10347.6公顷。 
 206国道线跨越县内五个镇并绕县城而过，县至镇公路全面...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="xn1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('xn1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/8（1）.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">兴宁市</h2>
                     <span class="font-size14"> 兴宁市位于广东省东北部，扼东江、韩江上游，地跨东经115°30′至116°，北纬23°50′至24°37′。北部与江西省寻邬县毗邻，东北部与平远县、梅县相接，东部与梅县交界，南部与丰顺县、梅县相连，西北部与龙川县相邻，西南部与五华县接壤。全市总面积2105平方公里。市委、市政府所在地兴城镇位于300多平方公里的宁江盆地中部，是粤、赣、闽三省陆路交通枢纽，粤东北部主要商品集散地，梅州市次中...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="wh1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('wh1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/4.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">五华县</h2>
                     <span class="font-size14"> 五华县位于广东省东北部，韩江上游。它是粤东丘陵地带的一部分，地处北纬23°55′～24°12′，东经115°18′～116°02′,东起郭田照月岭，西止长布鸡心石，南起登畬龙狮殿，北至新桥洋塘尾。东南与丰顺、揭西、陆丰、交界，西南与河源、紫金接壤，西北与龙川相连，东北与兴宁毗邻。东西相距71.59公里，南北长为87.99公里。全县地形成为菱形，总面积达3226.06平方公里，占广东省面积...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="fs1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('fs1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/1.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">丰顺县</h2>
                     <span class="font-size14"> 丰顺县位于广东省东部。2013年辖16个镇1个国营农场，行政区域面积2710.22平方公里。年末户籍人口70.69万人，常住人口48.53万人。人口自然增长率7.6‰。旅外华侨华人和港澳台同胞40多万人。 
 全县耕地面积3.388万公顷，粮食播种面积2.41万公顷，粮食产量12.20万吨。林地面积22.37万公顷，森林覆盖率74.86%，活立木蓄积量591.15万立方米。丰顺县是全国...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="mj1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('mj1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/3.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">梅江区</h2>
                     <span class="font-size14"> 梅江区位于广东省东北部，梅江河中游，梅州市中部，东临梅县区雁洋镇和大埔县银江镇，南与梅县区梅南镇交界，西连梅县区程江镇、扶大镇和大坪镇，北接梅县区石扇镇。2013年，梅江区辖长沙、三角、城北、西阳4个镇和江南、金山、西郊3个街道办事处，有81个村民委员会和42个社区居民委员会；行政区域总面积570.9平方公里，年末常住人口41.66万人,户籍人口35.83万人，人口自然增长率3.5‰；祖...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="jl1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('jl1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/7.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">蕉岭县</h2>
                     <span class="font-size14"> 蕉岭县位于广东省东北部，韩江上游，地跨东经116°01′～22′，北纬24°25′～53′之间。西界平远县，东南与梅县接壤，北与福建省武平县、上杭县相连。205国道、国家高速公路网络主干线天汕高速公路南北贯穿，全县总面积960平方公里，其中山地7.47万公顷，耕地0.7433万公顷。 
 【地质、地貌】　蕉岭县地质构造比较复杂，岩石类主要有砂页岩、侵入岩、石灰岩、变质岩等。这些岩类构成...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
                   
            <div id="mx1" class="gx_map">
            <div class="maps" id="maps_content">
                <div onclick="document.getElementById('mx1').style.display='none';" class="close hand">关闭X</div>
                <div class="mapdiv">
                   <div class="mapTipImg ftl m20"><img src="${public}/images2/6.jpg" /></div>
                   <div class="mapTipList ftr lineheight24">
                     <h2 class="mb10 tac font-size4 ">梅县区</h2>
                     <span class="font-size14"> 梅县地势四周高中间低，南岭余脉横卧北部，形成一道开然屏障，东北——西南走向的莲花山脉将县境与丰顺、大埔分 隔，东南部的明山嶂附近之银隆顶海拔1357米，为梅县最高山峰。 
 全县丘陵地占80%，有“八山一水一分田”之说。属亚热带季风气候。梅江是流经梅县的第一条大河，主源系紫金龙窝水 ，经五华、兴宁、于畲江入县境，汇程江于梅州市区，汇石窟河于丙村镇、汇松源河于松口镇，再折向南流至大埔县三...</span>
                     <a href="detail.php"  target="_blank" class="font-red1">详情</a>
                   </div>
                </div>
            </div>
        </div>
         <script>
            $(document).bind("click",function(e){
                if(e.target != this){
                    $('.gx_map').hide();
                }
            })
        </script>
    </div>
</div>

                <ul class="ml20">
            
                  <li><a href="">自然地理</a></li>
            
                    <li><a href="">行政区划</a></li>
                </ul>
            </div><!--left-->
            <div class="right ftr ">
        
                <p class="ti30 lineheight28">梅州，广东省省辖地级市，位于广东省东北部，地处闽、粤、赣三省交界处，东部与福建省龙岩市和漳州市接壤，南部与潮州市、揭阳市、汕尾市毗邻，西部与河源市接壤，北部与江西省赣州市相连。梅州是粤闽赣边区域性中心城市，全国生态文明建设试验区、广东文化旅游特色区、也是广东省的重要电力基地之一。梅州地势北高南低，兼有台地、丘陵、山地、阶地和平原五大类地貌类型，面积15876.06平方公里，下辖梅江区、梅县区、兴宁市、大埔县、丰顺县、五华县、平远县、蕉岭县2区1市5县，2015年末户籍人口为543.79万人。...<a href="detail.php" class="font-red2"> 【详情】</a></p>
               <div class="tsmz border1 mt10">
               <h3 class=" ftl" style="text-align:center"><a href="https://www.meizhou.gov.cn/list/29">美图美景</a></h3>
               
                <div class="right_scorll_img ftr">
                    <div class="ohbox">
                        <div class="tempWrap">
                            <ul class="piclist">
                              <li><a href=""><img src="${public}/images2/9.jpg" class="borders"></a></li> 
                              <li><a href=""><img src="${public}/images2/10.jpg"></a></li> 
                              <li><a href=""><img src="${public}/images2/11.jpg"></a></li> 
                              <li><a href=""><img src="${public}/images2/12（1）.png"></a></li> 
                              <li><a href=""><img src="${public}/images2/13.jpg"></a></li> 
                              <li><a href=""><img src="${public}/images2/14.jpg"></a></li> 
                              <li><a href=""><img src="${public}/images2/15.jpg"></a></li> 
                              <li><a href=""><img src="${public}/images2/16.jpg"></a></li> 
                            </ul>
                        </div>
                    </div>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <div class="pageBtn">
                        <ul class="list" style="display: none"><li class="">1</li><li class="on">2</li><li class="">3</li></ul>
                    </div>
                </div>
                <div class="clear"></div>
                </div>
            </div><!--right-->

        </div><!--introduce1-->
        <div class="clear"></div>
        <div class="introduce2 mt20">
            <div class="little mr10 ftl">
    
                <h3 class="lineheight32 mb10 font-size18">历史沿革</h3>
                <p class="more1 "><a target="_blank" href="page.php">更多+</a></p>
                <img src="${public}/images2/pic7.jpg" width="327" height="155"/>
        
                <p class="ti30 lineheight28 mb10">梅县区是广东省梅州市的市辖区，位于广东省东北部，始建城于秦朝，2013年10月国务院同意梅州市梅县撤县设区，梅县结束了县治，设立梅州市梅县区，与梅江区同属梅州市区并称梅城。<a href="detail.php" target="_blank" class="font-red2">【详情】</a></p>
                <p class="lineheight45 tac" style=" background:#ffa45b;">
                    <a target="_blank" href="page2.php">民族民俗</a>
                    <a target="_blank" href="page2.php">客家山歌</a>
            
                    <a target="_blank" href="page2.php">梅县特产</a>
                </p>
            </div>
            <div class="little mr10 ftl ml10">
                <h3 class="lineheight32 mb10 font-size18">今日风采</h3>
                <p class="more1 "><a target="_blank" href="page2.php">更多+</a></p>
                <img src="${public}/images2/pic8.jpg" width="327" height="155"/>
        
                <p class="ti30 lineheight28 mb10">梅县区是广东省梅州市的市辖区，位于广东省东北部，始建城于秦朝，2013年10月国务院同意梅州市梅县撤县设区，梅县结束了县治，设立梅州市梅县区，与梅江区同属梅州市区并称梅城。<a href="detail.php" target="_blank" class="font-red2">【详情】</a></p>
                <p class="lineheight45 tac" style=" background:#6be158;">
                    <a target="_blank" href="page2.php">梅县大事记</a>
                    <a target="_blank" href="page2.php">发展概况</a>
                    <a target="_blank" href="page2.php">党的建设</a>
                    
                </p>
            </div>
            <div class="little ftr ml10">
                <h3 class="lineheight32 mb10 font-size18">未来发展</h3>
                <p class="more1 "><a target="_blank" href="page3.php">更多+</a></p>
                <img src="${public}/images2/pic9.jpg" width="327" height="155"/>
                
                <p class="ti30 lineheight28 mb10">梅县区是广东省梅州市的市辖区，位于广东省东北部，始建城于秦朝，2013年10月国务院同意梅州市梅县撤县设区，，梅县结束了县治，设立梅州市梅县区，与梅江区同属梅州市区并称梅城。<a href="detail.php" target="_blank" class="font-red2">【详情】</a></p>
                <p class="lineheight45 tac" style=" background:#0f92c3;">
             
                    <a target="_blank" href="page2.php">发展规划</a>
             
                    <a target="_blank" href="page2.php">产业规划</a>
             
                    <a target="_blank" href="page2.php">未来梅县</a>
                </p>
            </div>

        </div><!--introduce2-->
        <div class="clear"></div>
        <div class="blank10"></div>
        <div class="cover-img">
            <img src="">
        </div>
        <div class="introduce3 mt10">
            <div style="width:720px;position:relative" class="ftl">
                <div class="">
                    <div class="ftl"style="width:230px;">
                    
                      <div class="introduce3_img5 ftl " >
                        <div class="pic"><a href="" target="_blank" ><img src="${public}/images2/pic10.jpg" width="250" height="330"/></a></div>
                        <div class="txt-bg"></div>
                        <div class="txt tac"><a href="" target="_blank" >汉剧表演时间安排</a></div>
                    </div>
                    </div>
                    
                    <div class="ftr" style="width:485px;">
                    <div class="introduce3_img2 ftl">
                        <div class="pic"><a href="" target="_blank" ><img src="${public}/images2/pic12.jpg" width="250" height="330"/></a></div>
                        <div class="txt-bg"></div>
                        <div class="txt tac"><a href="" target="_blank" >民俗节庆</a></div>
                    </div>
                    <div class="introduce3_img2 ftl ml15">
                        <div class="pic"><a href="" target="_blank" ><img src="${public}/images2/pic13.jpg" width="250" height="330"/></a></div>
                        <div class="txt-bg"></div>
                        <div class="txt tac"><a href="" target="_blank" >本地特产</a></div>
                    </div>
                    
                    <div class="introduce3_img2 ftl">
                        <div class="pic"><a href="" target="_blank" ><img src="${public}/images2/pic18.jpg" width="250" height="330"/></a></div>
                        <div class="txt-bg"></div>
                        <div class="txt tac"><a href="" target="_blank" >传统工艺</a></div>
                    </div>
                    <div class="introduce3_img2 ftl ml15">
                        <div class="pic"><a href="" target="_blank" ><img src="${public}/images2/pic17.jpg" width="250" height="330"/></a></div>
                        <div class="txt-bg"></div>
                        <div class="txt tac"><a href="" target="_blank" >特色美食</a></div>
                    </div>
                    </div>
                    
                </div>
                <div class="clear"></div>
            </div>
            <div style="width:280px;position:relative" class="ftr">
                <div class="ggss">
                    <ul>
                        <li class="bncs"><a href="https://www.meizhou.gov.cn/list/56" target="_blank">应急避难场所</a></li>
                        <li class="library"><a href="https://www.meizhou.gov.cn/collectclient/index/tsgjbxx" target="_blank">图书馆</a></li>
                        <li class="hospital"><a href="https://www.meizhou.gov.cn/collectclient/index/mzsyyjbxx" target="_blank">医院</a></li>
                        <li class="school"><a href="https://www.meizhou.gov.cn/collectclient/index/mzsxxjbxx" target="_blank">学校</a></li>
                        <li class="gym"><a href="https://www.meizhou.gov.cn/list/60" target="_blank">体育馆</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div><!--introduce2-->

        <div class="clear"></div>
     
    </div>
<#include '/WEB-INF/templates/mxcommon2/footer.html'>
</div>
   