<#include '/WEB-INF/templates/mxcommon2/header.html'>
<link rel="stylesheet" type="text/css" href="${public}/css2/common.css">
<div class="index_content">
	<div class="wid pt10">
	<div class="xwfb ftl back_color1 p10 border1 border_radius5">
		<div class="title1">
			<a href="detail.php" target="_self">
			<h3 class="ftl">新闻发布会</h3>
			</a>
		</div>
		<div class="clear">
		</div>
		<div class="xwfb_img ftl mt10">
			<div class="pic">
				<img src="${public}/images2/pic3.jpg">
			</div>
			<div class="txt-bg">
			</div>
			<div class="txt" style="text-align:center">
				“掌上梅县”客户端上线发布会
			</div>
		</div>
		<p class="ftr ti20 p10" style="line-height:28px; width:300px; height:180px; ">
			今天上午，梅县日报“掌上梅县”客户端上线发布会在梅城迎宾馆举行。市委常委、统战部部长张丽霞参加了发布会。嘉宾触摸LED屏按键，“掌上梅县”启动上线据了解，“掌上梅县”由全国报业移动传播百强之一的梅县日报打造，是一款“新闻+政务+服务”综合类客户端，是延伸和承载梅县主流传播资讯的新...
		</p>
		<p class="more2">
			<a target="_blank" href="page.php">更多+</a>
		</p>
		<p>
		</p>
		<div class="clear">
		</div>
	</div>
	<div class="huiying ftr tong back_color1 p10 border1 border_radius5" style=" height:267px; height:266px\9;">
		<div class="title1">
			<a href="detail.php">
			<h3 class="ftl">热点问题回应</h3>
			</a>
		</div>
		<div class="clear">
		</div>
		<ul class="mt10" style=" height:210px;">
			<li><a href="detail.php" target="_blank">离婚时发现配偶转移共同财产可要求分割</a></li>
			<li><a href="detail.php" target="_blank">离婚时发现配偶转移共同财产可要求分割</a></li>
			<li><a href="detail.php" target="_blank">离婚时发现配偶转移共同财产可要求分割</a></li>
			<li><a href="detail.php" target="_blank">离婚时发现配偶转移共同财产可要求分割</a></li>
			<li><a href="detail.php" target="_blank">离婚时发现配偶转移共同财产可要求分割</a></li>
		</ul>
	</div>
	<div class="clear">
	</div>
	<div class="border1 p10 mt15">
		<div class="tufa ftl" style="width:480px">
			<div class="hd" style=" border-bottom: 1px solid #cdcdcd;">
				<ul>
					<div class="font-size16 font-red2 mb10 ftl mr20 title3">
						<a href="detail.php" target="_self">
						<h3>政策解读</h3>
						</a>
					</div>
					<li class="on">国家政策</li>
					<li>广东省政策</li>
				</ul>
			</div>
			<div class="bd tong">
				<ul>
					<p class="more1" style="right:16px;">
						<a target="_blank" href="page.php">更多+</a>
					</p>
					<div style=" width:480px; padding:10px 0;">
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
						<li><span class="date">（2016-11-01）</span><a href="detail.php" target="_blank">国家统计局服务业调查中心高级统计师赵庆河解读20...</a></li>
					</div>
				</ul>
				<ul style="display: none;">
					<p class="more1" style="right:16px;">
						<a target="_blank" href="detail.php">更多+</a>
					</p>
					<div style=" width:480px; padding:10px 0;">
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
						<li><span class="date">（2016-10-27）</span><a href="detail.php" target="_blank">图解：城市管理执法体制改革</a></li>
					</div>
				</ul>
			</div>
		</div>
		<div class="tufa ftr" style="width:480px;">
			<div class="hd" style=" border-bottom: 1px solid #cdcdcd;">
				<ul>
					<div class="font-size16 font-red2 mb10 ftl mr20 title3">
						<a href="detail.php" target="_self">
						<h3>突发事件</h3>
						</a>
					</div>
					<li class="on">国家突发事件</li>
					<li>省内突发事件</li>
				</ul>
			</div>
			<div class="bd tong">
				<ul>
					<p class="more1" style="right:16px;">
						<a target="_blank" href="page.php">更多+</a>
					</p>
					<div style=" width:480px; padding:10px 0;">
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
						<li><span class="date">（2016-11-07）</span><a href="detail.php" target="_blank">新疆维吾尔自治区和田地区皮山县发生3.0级地震</a></li>
					</div>
				</ul>
				<ul style="display: none;">
					<p class="more1" style="right:16px;">
						<a target="_blank" href="https://www.meizhou.gov.cn/list/405">更多+</a>
					</p>
					<div style=" width:480px; padding:10px 0;">
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
						<li><span class="date">（2016-11-02）</span><a href="detail.php" target="_blank" >清远英德市发生一起交通事故造成3人死亡3人受伤</a></li>
					</div>
				</ul>
			</div>
		</div>
		<div class="clear">
		</div>
	</div>
	
</div>
</div>
<#include '/WEB-INF/templates/mxcommon2/footer.html'>