<#include '/WEB-INF/templates/mxcommon/header.html'>
<div class="wid pt10">
         <div class="list-topBox">
        <span class="fl">位置：<a href="">政务公开</a> &gt;&gt; <a href="">工作动态</a> &gt;&gt;<a href="">政务要闻</a>  </span>
    </div>
    <div class="list-line">
        
        <div class="list-contentbox">
            <div class="list-subtitle" id="content_toplitile">谭君铁方利旭率梅县党政考察团赴江门学习考察，林应武邓伟根陪同考察</div>
            <div class="list-newstitle" id="content_atitile">促进协同发展 实现互利共赢</div>
            <div class="list-subtitle"></div>
            <div class="list-newsinfo mb10 clear">
                <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                    <tbody>
                    <tr>
                        <td class="list-leftinfo">
                            <span>来源：梅县日报</span>&nbsp;&nbsp;
                            <span>时间：2016-11-11 11:04:53</span>&nbsp;&nbsp;
			    <span>浏览：930</span>&nbsp;&nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			<script language="javascript"> 
				function setFontSize(objID,size){ 
				  $('#'+objID+' p').css("font-size", size+'px')
				} 
			</script>
            <div class="list-leftinfo clear" id="print">
                <span class="ftl mr10">【字体：<a onclick="setFontSize('news_content',20)">大</a> <a onclick="setFontSize('news_content',14)">中</a> <a onclick="setFontSize('news_content',12)">小</a>】</span>
                <span class="hand ftl mr10" onclick="javascript:window.print();"><img src="https://www.meizhou.gov.cn/styles/default/imageset/print.png">&nbsp;打印</span>
				
            </div>
            <div class="list-newscontnet" id="news_content">
            <p>
                </p><p style="text-align: center;"><a target="_blank" href=""><img src="${public}/images/7270.jpg" border="0"></a><br>
</p>
<p><span >谭君铁、方利旭一行在林应武（前排右二）、邓伟根（左一）等陪同下到江门市小微企业创业创新综合展示中心考察。</span></p>
<p><span>（图片来源：梅县日报 &nbsp;特派记者 钟小丰&nbsp;摄）</span><br>
</p>
<p>昨日，市委书记谭君铁、市长方利旭率梅县市党政考察团赴江门市学习考察，江门市委书记林应武、市长邓伟根陪同考察。双方认为，江门梅县两地市情相似，都是著名的华侨之乡、文化之乡，文化厚重、人缘相亲，在产业共建、文化交流、发展全域旅游、助力“小微”“双创”等方面合作前景广阔、潜力巨大，希望今后加强沟通联系、探索创新合作模式，促进协同发展、实现互利共赢。</p>
<p>梅县市党政考察团一行先后深入蓬江区环市街道“邑门式”服务中心、江门市小微企业创业创新综合展示中心、江门大道、无限极（中国）有限公司等地参观考察，详细了解江门在推动简政惠民、服务“小微”“双创”、打好交通大会战和谋划产业发展等方面的好经验好做法。</p>
<p>林应武、邓伟根代表江门市委市政府对梅县市党政考察团的到来表示热烈欢迎。他说，近年来梅县市委市政府按照省委省政府的决策部署，紧扭“三大抓手”不放松，发扬解放思想、改革创新、民生为本的理念，大力推进交通建设、城市建设、园区建设，城市面貌发生了翻天覆地的变化。江门、梅县都是文化之乡、华侨之乡，也都处在加快发展、爬坡越坎的奋斗阶段，希望两市充分发挥各自优势，建立更加紧密的沟通交流机制，携手并进、发展共赢，共同为广东实现“三个定位、两个率先”目标作出应有的贡献。</p>
<p>谭君铁、方利旭表示，通过实地考察，江门发展速度之快、质量之好让人震撼、让人钦佩，“邑门式”服务平台建设坚持以服务群众为中心，接地气、贴民心、高效能；服务“小微”“双创”工作扎实、亮点纷呈，大气魄谋划城市建设、大手笔推动交通基础设施建设、大力度推动产业园区扩容提质的做法，更让人看到江门未来发展的大格局和巨大后劲。希望考察团成员认真学习、吸纳江门谋划加快发展的好经验、好做法、好思路、好理念，让江门的简政惠民、小微双创等经验在梅县落地生根、开花结果，助推梅县加快振兴发展。</p>
<p>江门市领导周伟万、李长峰、胡钛、冯立坚、许晓雄；梅县市领导彭耀新、杜敏琪、黄建固、李远青等，各县（市、区）和市直有关单位负责人参加活动。</p>
             <p></p>
            </div>
	                <div class="list-tips">
                <div class="list-tipsr"><a onclick="window.close()" title="关闭窗口" href="javascript:;">【关闭窗口】</a></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="blank10"></div>
</div>
<#include '/WEB-INF/templates/mxcommon/footer.html'>