<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>${email.theme}</title>
<link rel="stylesheet" type="text/css" href="${public}/css/mxcss/main.css">
</head>



<body>	  
<div class="wrap">



<form name="msCommunicateWebForm" method="post" action="">

   <div class="main">
	
	  <div class="box1">
			<div class="box1_top"></div>
			<div class="box2_center">
				
				
				
				
				
				<table class="Tab1" width="100%" border="0" cellspacing="1" cellpadding="0">
					<tbody><tr class="Tab1Title"> 
						<td height="35" colspan="6">咨询信息</td>
					</tr>
					<tr>
						<td width="13%" height="30" class="Tab1Td3">咨询人</td>
						<td class="Tab1Td4" colspan="3">${email.people_name}</td>
					</tr>
					<tr>
						<td width="13%" height="30" class="Tab1Td3">类型</td>
						<td class="Tab1Td4">${email.letter_type}</td>
						<td width="13%" class="Tab1Td3">来信时间</td>
						<td class="Tab1Td4">${email.receive_time}</td>
					</tr>						
					<tr>
						<td width="13%" height="30" class="Tab1Td3">标题</td>							
						 <td class="Tab1Td4" colspan="3">${email.theme}</td>
					</tr>
					<tr>
						<td width="13%" class="Tab1Td3">内容</td>
						<td class="Tab1Td5" colspan="3">${email.content}</td>
					</tr>
					
					<tr class="Tab1Title"> 					
					   <td height="35" colspan="4">回复信息</td>
					</tr>				
					
					
					<tr>
						<td width="13%" height="30" class="Tab1Td3">回复类型</td>
						<td class="Tab1Td5" colspan="3">答复</td>
					</tr>				
					<tr>
						<td width="13%" height="30" class="Tab1Td3">处理部门</td>
						<td class="Tab1Td4">
						${email.letter_dept}
						</td>
						<td width="13%" height="30" class="Tab1Td3">处理时间</td>
						<td class="Tab1Td4">
						${email.reply_time}
						</td>
					</tr>
					<tr>
						<td width="13%" height="30" class="Tab1Td3">处理意见</td>
						<td class="Tab1Td5" colspan="3">
						
						${email.reply_content}
						</td>
					</tr>
						
					
					<tr><td class="Tab1Td5" colspan="4"></td></tr>
					
					
					
				 	   
				</tbody></table>
				
				<table style="margin-top:10px;" width="100%">
				   <tbody><tr>
					 <td align="center">
					 
					 <input type="button" style="cursor:pointer" onclick="window.close();" value=" 关 闭 ">
					 </td>	
					 </tr>			   
				 </tbody></table>
				
				
			</div>
			<div class="box1_bottom"></div>
		</div>
		
	</div>
	

</form>
</div>		


</body></html>