<#include '/WEB-INF/templates/mxcommon/header.html'>
<div class="conts">
    	<!-- right -->


<script language="javascript">
function _checkform(form)
{
	if(form.data_Title.value == '' || form.data_Content.value == '')
	{
		alert('请填写标题和信件内容。');
		return false;
	}
	if(form.data_Author.value == '')
	{
		alert('请填写您的姓名。');
		return false;
	}
	if(form.targetNodeID.value == '')
	{
		alert('请选择信件类型。');
		return false;
	}
	if(form.data_Department.value=='' || form.department.value=='')
	{
		alert('请选择受理部门。');
		return false;
	}
	return true;
}
</script>
    	<!-- right end -->
    	<!--  list -->
	<div style="width: 100%">
    	<div class="main-content">
    		<div class="path">当前位置：
    		    					<a href="/Home/Index">首页</a>						 &gt; <a href="/Home/Index/service">互动交流</a>						 &gt; <a href="/Home/Index/complaints">我要写信</a>						<span style="float:right">
			</span>
    		</div>
<style type="text/css">
#formbox td{padding:5px;font-size:14px}	
#formbox td input.txt{width:75%;
    border: 1px solid #ccc;}
#formbox td textarea{width:90%}
#formbox .submit{
	    padding: 5px 10px;
    border-radius: 3px;
    background-color: #7eb5fd;
    color: #fff;
    cursor: pointer;
}
#formbox .reset{
	  padding: 4px 10px;
    border-radius: 3px;
    background-color: #999;
    color: #fff;
    cursor: pointer;
}
</style>
    		<div id="formbox" style="padding:10px">
    			<div style="font-size:14px;padding-bottom:15px">请填写以下信息：</div>
    			<form enctype="application/x-www-form-urlencoded" method="post" id="form1" action="/Home/Index/saveLetter">
		  	<table cellpadding="3" cellspacing="0" border="0">
				<tbody><tr class="WebContainer600_fomeitem">
					<td>您的姓名:</td>
					<td><input name="letterModel.people_name" class="txt" type="text" id="" size="20">
		<span style="color:#7eb5fd"> *</span></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>联系电话:</td>
					<td><input name="letterModel.phone" type="text" class="txt" id="e" size="20"></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>Email地址:</td>
					<td><input name="letterModel.email" type="text" class="txt" id="email" size="20"></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>联系地址:</td>
					<td><input name="letterModel.address" type="text" class="txt" id="letterModel.address" size="20"></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>邮政编码:</td>
					<td><input name="letterModel.postalcode" type="text" class="txt" id="zipcode" size="20"></td>
				</tr>
					<tr class="WebContainer600_fomeitem">
					<td>投送信箱:</td>
					<td>
					<select name="letterModel.cid" id="targetNodeID" >
					<#list clm as cl>
						<option value="${cl.id}">${cl.title}</option>
						</#list>
					</select><span style="color:#7eb5fd"> *</span>
					<input type="hidden" name="data_Type" id="type" value="">
					</td>
				</tr>
				
				<tr class="WebContainer600_fomeitem">
					<td>信件类型:</td>
					<td>
					<select name="letterModel.letter_type" id="targetNodeID" onchange="javascript:if(this.value!='') document.getElementById('type').value=this.options[this.selectedIndex].text;">
					<#list letterTypes as type>
						<option value="${type.id}">${type.types}</option>
					</#list>
					</select><span style="color:#7eb5fd"> *</span>
					<input type="hidden" name="data_Type" id="type" value="">
					</td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>收信部门:</td>
					<td><select name="letterModel.letter_dept" id="department" onchange="javascript:document.getElementById('data_Department').value=this.options[this.selectedIndex].text;">
			          <option selected="selected" value="">--请选择收信部门--</option>
						<#list letterDepts as dept>
							<option value="${dept.id}">${dept.depts}</option>
						</#list>
	    				</select><span style="color:#7eb5fd"> *</span></td>
	    				<input type="hidden" name="data_Department" id="data_Department" value="">
	    				<input type="hidden" name="data_State" id="data_State" value="2">
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td style="text-align:center" colspan="2"><span style="color:#7eb5fd">注意:为了方便工作人员处理信件,"信件主题"必须是咨询内容的简单概括</span></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>信件主题:</td>
					<td><input name="letterModel.theme" type="text" class="txt" id="data_Title" size="40"><span style="color:#7eb5fd"> *</span></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td>信件内容:</td>
					<td><textarea name="letterModel.content" cols="38" rows="6" id="data_Content"></textarea><span style="color:#7eb5fd"> *</span></td>
				</tr>
				<tr class="WebContainer600_fomeitem">
					<td colspan="2" style="text-align:center"><input type="submit" class="submit" value="提交" onclick="javascript:return _checkform(this.form);">&nbsp;&nbsp;<input class="reset" type="reset" value="重填"></td>
				</tr>
			</tbody></table>
			</form>

    		</div>
    	</div>
    	</div>
    	<!--  list end -->

    </div>
<#include '/WEB-INF/templates/mxcommon/footer.html'>