<#include '/WEB-INF/templates/mxcommon/header.html'>
<div class="wid">
	<img src="${public}/images/banner_yiliao.jpg" width="1022" height="100">

	<div class="news_img news_img4 ftl focusBox mt20">
		<a class="prev" href="javascript:void(0)" style="display: none; opacity: 1;"></a>
		<a class="next" href="javascript:void(0)" style="display: none; opacity: 1;"></a>
		<ul class="pic" style="position: relative; width: 380px; height: 250px;">

			<li style="position: absolute; width: 380px; left: 0px; top: 0px; display: none;"><a href="/Home/NewContent?newid=17" target="_blank"><img src="${public}/images/3551581aa4a03add99648a63847cb113.jpg"></a></li>
			<li style="position: absolute; width: 380px; left: 0px; top: 0px; display: none;"><a href="/Home/NewContent?newid=17" target="_blank"><img src="${public}/images/acad8efa163ab6432d7eee7fb8725159.jpg"></a></li>
			<li style="position: absolute; width: 380px; left: 0px; top: 0px; display: none;"><a href="/Home/NewContent?newid=17" target="_blank"><img src="${public}/images/5fb20c86775fa674932656e4138627ce.jpg"></a></li>
			<li style="position: absolute; width: 380px; left: 0px; top: 0px; display: list-item;"><a href="/Home/NewContent?newid=17" target="_blank"><img src="${public}/images/adfdca516745c03e82abb4569a0d8c36.jpg"></a></li>
		</ul>
		<div class="txt-bg"></div>
		<div class="txt">
			<ul>
				<li style="bottom: -36px;"><a href="/Home/NewContent?newid=17" target="_blank" title="九年救治先心病患儿124例">九年救治先心病患儿124例</a></li>
				<li style="bottom: -36px;"><a href="/Home/NewContent?newid=17" target="_blank" title="廖万清院士 梅城义诊">廖万清院士 梅城义诊</a></li>
				<li style="bottom: -36px;"><a href="/Home/NewContent?newid=17" target="_blank" title="“两癌”免费检查有序推进">“两癌”免费检查有序推进</a></li>
				<li style="bottom: 0px;"><a href="/Home/NewContent?newid=17" target="_blank" title="中大专家教授来梅为民义诊">中大专家教授来梅为民义诊</a></li>
			</ul>
		</div>

		<ul class="num">
			<li class=""><a></a><span></span></li>
			<li class=""><a></a><span></span></li>
			<li class=""><a></a><span></span></li>
			<li class="on"><a></a><span></span></li>
		</ul>
	</div>

	<script type="text/javascript">
		jQuery(".focusBox").hover(function () {
			jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 1)
		}, function () {
			jQuery(this).find(".prev,.next").fadeOut()
		});

		jQuery(".news_img").slide({
			titCell: ".num li",
			mainCell: ".pic",
			effect: "fold",
			autoPlay: true,
			trigger: "click",
				//下面startFun代码用于控制文字上下切换
				startFun: function (i) {
					jQuery(".news_img .txt li").eq(i).animate({ "bottom": 0 }).siblings().animate({ "bottom": -36 });
				}
			});
		</script>
		<div class="ftl ml20 mt20" style="width:600px; position:relative;">
			
			<div class="title6"><h3 class="ftl">医疗新闻 </h3></div>
			<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=238">更多+</a></p>
			<div class=" tong mt10" style="height:180px;">
				<ul>
					<#list ylnews as yln>
					<li><span class="date">(${yln.TIME})</span><a class="newtitle" href="/Home/NewContent?newid=${yln.id}" target="_blank" title="${yln.title}">${yln.title}</a></li>
					</#list>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		
		<div class="mt20"><a href="/Home/NewContent?newid=17" target="_blank" class="mr10 ftl"><img src="${public}/images/yl_01.jpg" style="width: 495px;"></a>

			<a href="/Home/NewContent?newid=17" class="ftr" target="_blank"><img src="${public}/images/yl_02.jpg" style="width: 495px;"></a>
		</div>


		<div class="ftl mr20 mt20" style="width:490px; position:relative;">
			
			<div class="title6"><h3 class="ftl">政策文件</h3></div>
			<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=239">更多+</a></p>
			<div class=" tong mt10" style="height:150px;">
				<ul>
					<#list zcnews as zcn>
					<li><span class="date">(${zcn.TIME})</span><a class="newtitle" href="/Home/NewContent?newid=${zcn.id}" target="_blank" title="${zcn.title}">${zcn.title}</a></li>
				
					</#list>	
				</ul>
			</div>
		</div>

		<div class="ftl mt20" style="width:490px; position:relative;">
			
			<div class="title6"><h3 class="ftl">疾控管理</h3></div>
			<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=240">更多+</a></p>
			<div class=" tong mt10" style="height:150px;">
				<ul>
					<#list jknews as jkn>
					<li><span class="date">(${jkn.TIME})</span><a class="newtitle" href="/Home/NewContent?newid=${jkn.id}" target="_blank" title="${jkn.title}">${jkn.title}</a></li>
					</#list>
				</ul>
			</div>
		</div>

		<div class="ftl mr20 mt10" style="width:490px; position:relative;">
			
			<div class="title6"><h3 class="ftl">中医管理</h3></div>
			<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=241">更多+</a></p>
			<div class=" tong mt10" style="height:150px;">
				<ul>
					<#list zynews as zy>
					<li><span class="date">(${zy.TIME})</span><a class="newtitle" href="/Home/NewContent?newid=${zy.id}" target="_blank" title="${zy.title}">${zy.title}</a></li>
					</#list>
				</ul>
			</div>
		</div>

		<div class="ftl mt10" style="width:490px; position:relative;">
			
			<div class="title6"><h3 class="ftl">健康教育</h3></div>
			<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=242">更多+</a></p>
			<div class=" tong mt10" style="height:150px;">
				<ul>
					<#list hlnews as hln>
					<li><span class="date">(${hln.TIME})</span><a class="newtitle" href="/Home/NewContent?newid=${hln.id}" target="_blank" title="${hln.title}">${hln.title}</a></li>
					</#list>
				</ul>
			</div>
		</div>

	</div>
<#include '/WEB-INF/templates/mxcommon/footer.html'>