<#include '/WEB-INF/templates/mxcommon/header.html'>
<div class="wid pt">
	<div class="list-topBox" style="border-bottom:none;">
		<span class="fl">位置：
			<a href="/Home/Index">网站首页</a> &gt;&gt;
			<a href="/Home/Index/internet">办事服务</a> &gt;&gt;
			<a href="/Home/Index/person1?pid=${channel.id}">${channel.title}</a>
		</span>
	</div>

	<div class="left_list mt ftl border">
		<div class="title"><img class="ftl mt pl" src="${public}/images/icon15.png" style="margin-left: 55px;
    margin-top: 5px;">${channel.title}</div>
		<div class="clear"></div>
		<ul>
		<#assign url="">
		<#list pcms as pcm>
			<#if pcm.id=clickId>
				<#assign url="/Home/Index/person1?pid=${channel.id}&id=${pcm.id}">
				<li class="on"><a href="/Home/Index/person1?pid=${channel.id}&id=${pcm.id}">${pcm.title}</a></li>
			<#else>
			<li><a href="/Home/Index/person1?id=${pcm.id}">${pcm.title}</a></li>
			</#if>
		</#list>
			<div class="clear"></div>
		</ul>
	</div>

	<script>
		function goToSerach(form) {
			$("#myform").submit();
		}
	</script>

	<div class="right_list mt ftr">
		<form method="post" action="https://www.meizhou.gov.cn/search/index" id="myform">
			<div class="bsfw_search ftl">
				<div class="querybox">
					<input name="keyword" placeholder="输入您要查询的服务" id="searchInput" class="input_key" onfocus="glb_searchTextOnfocus(this);" onblur="glb_searchTextOnBlur(this);">
					<input name="classify" value="bsfw" type="hidden">
					<a href="javascript:;" class="img_but" onclick="return goToSerach(this.form);"></a>
				</div>
			</div>
			<p class="hot ftl ml">热词：

				<a class="hot" href="#" onclick="javascript:openSearch('https://www.meizhou.gov.cn/', '环保', 'bsfw')">环保</a>
				<a class="hot" href="#" onclick="javascript:openSearch('https://www.meizhou.gov.cn/', '计划生育', 'bsfw')">计划生育</a>
			</p>
		</form>
		<div class="clear"></div>
		<div class="mt border">
			<div class="listbox">
				<ul>
					<#list news as n>
					<li>
						<p><a href="/Home/NewContent?newid=${n.id}" target="_blank" title="${n.title}" class="linkkey">${n.title}</a></p>
						<ul></ul>
					</li>
					</#list>
				</ul>
			</div>

			<!--页码 翻页-->
			<div class="tac">
				<ul class="pagination pagination-sm">
		    <li class=""><a href="${url}">首页</a></li>
		    			<#if (pageCount <5)>
		    					<#list 1..pageCount as a>
		    					<#if a=nowPage>
								<li class="ng-scope active"><a class="ng-binding" href="javascript::">${a}</a></li>
								<#else>
								<li class="ng-scope"><a class="ng-binding" href="${url}&page=${a}">${a}</a></li>
								</#if>
								</#list>
							<#else>
								<#assign dd=(nowPage/6)?floor>
								<#assign start=1>
								<#assign end=2>
								<!-- 判断开始页数 -->
								<#if ((dd*5+1)>pageCount)>
										<#assign start=(pageCount-5)>
									<#else>
									<#assign start=(dd*5+1)>
								</#if>
								<!-- 判断末页数 -->
								<#if (pageCount>(start+4))>
									<#assign end=(start+4)>
									<#else>
									<#assign end=pageCount>
								</#if>
								<!-- 上5页 -->
								<#if (start>1)>
									<li><a href="${url}&page=${start-1}">«</a></li>
								</#if>
								<#list start..end as a>
								<#if a=nowPage>
								<li class="ng-scope active"><a class="ng-binding" href="javascript::">${a}</a></li>
								<#else>
								<li class="ng-scope"><a class="ng-binding" href="${url}&page=${a}">${a}</a></li>
								</#if>
								</#list>
								<!-- 下5页 -->
								<#if (end <pageCount)>
								<li><a href="${url}&page=${end+1}">»</a></li>
								</#if>
		    				</#if>
		    		
						
			    <li class=""><a href="${url}&page=${pageCount}">末页</a></li>
		</ul>
			</div>
			<!--页码 翻页-->

		</div>
	</div>
</div>
<#include '/WEB-INF/templates/mxcommon/footer.html'>