<#include '/WEB-INF/templates/mxcommon/header.html'>
<div class="wid">
	<img src="${public}/images/banner_shebao.jpg" width="1022" height="100">      
	<div class="news_img news_imgs ftl focusBox mt20">
		<a class="prev" href="javascript:void(0)" style="opacity: 1; display: none;"></a>
		<a class="next" href="javascript:void(0)" style="opacity: 1; display: none;"></a>
		<ul class="pic pics" style="position: relative; width: 380px; height: 250px;">
			<#list crm as c>
				<#if c_index=0>
				<li style="position: absolute; width: 380px; left: 0px; top: 0px; display: list-item;"><a href="${c.tolink}" target="_blank"><img src="${c.link}"></a></li>
				<#else>
			<li style="position: absolute; width: 380px; left: 0px; top: 0px; display: none;"><a href="${c.tolink}" target="_blank"><img src="${c.link}"></a></li>

				</#if>
			</#list>
		</ul>
		<div class="txt-bg"></div>
		<div class="txt">
			<ul>
			<#list crm as c>
				<#if c_index=0>
				<li style="bottom: 0px;"><a class="newtitle" href="${c.tolink}" target="_blank" title="${c.title}">${c.title}</a></li>
				<#else>
				<li style="bottom: -36px;"><a class="newtitle" href="${c.tolink}" target="_blank" title="${c.title}">${c.title}</a></li>
				</#if>
				
			</#list>
			</ul>
		</div>

		<ul class="num">
		<#list crm as c>
				<#if c_index=0>
			<li class="on"><a></a><span></span></li>
			<#else>
				<li class=""><a></a><span></span></li>
				</#if>
			</#list>
		</ul>
	</div>

	<script type="text/javascript">
		jQuery(".focusBox").hover(function () {
			jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 1)
		}, function () {
			jQuery(this).find(".prev,.next").fadeOut()
		});

		jQuery(".news_img").slide({
			titCell: ".num li",
			mainCell: ".pic",
			effect: "fold",
			autoPlay: true,
			trigger: "click",
				//下面startFun代码用于控制文字上下切换
				startFun: function (i) {
					jQuery(".news_img .txt li").eq(i).animate({ "bottom": 0 }).siblings().animate({ "bottom": -36 });
				}
			});
		</script>
		<div class="ftl ml20 mt20" style="width:600px; position:relative;background: #fff">

			<div class="title_1"><span>社保资讯</span></div>
			<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=221">更多+</a></p>
			<div class="t-tong tong mt10" style="height:180px;padding-bottom: 15px;">
				<ul>
				<#list sbnews as sbn>
					<li><span class="date">[${sbn.TIME}]</span><a class="newtitle" href="/Home/NewContent?newid=${sbn.id}" target="_blank" title="　${sbn.title} 　">${sbn.title}</a></li>
				</#list>
				</ul>
			</div>
		</div>
		<div class="clear"></div>

		<div class="mt20 ftl">
			<ul class="shebao_btn ftl">
				<li class="back_color10 "><a href="https://www.meizhou.gov.cn/jump.html?url=http://www.mzsi.gov.cn/siweb/login.do?method=begin&amp;login=1" target="_blank"><img src="${public}/images/icon43.png">
					<p>社保查询</p></a></li>
					<li class="back_color10 "><a href="https://www.meizhou.gov.cn/jump.html?url=http://www.mzsi.gov.cn/siweb/login.do?method=begin&amp;login=2" target="_blank"><img src="${public}/images/icon44.png">
						<p>在线办理</p></a></li>
						<li class="back_color10 "><a href="https://www.meizhou.gov.cn/jump.html?url=http://hrss.meizhou.gov.cn/" target="_blank"><img src="${public}/images/icon45.png">
							<p>社保卡进度</p></a></li>

							<li class="back_color10 "><a href="https://www.meizhou.gov.cn/bsfw/ggfw/grfw/sbzt/zxfwrx/t20161007_102006.htm" target="_blank"><img src="${public}/images/icon46.png">
								<p>咨询服务热线</p></a></li>



								<li class="back_color10 "><a href="https://www.meizhou.gov.cn/bsfw/ggfw/grfw/sbzt/sbjfjs/t20161009_102936.htm" target="_blank"><img src="${public}/images/icon73.png">
									<p>社保缴费基数</p></a></li>


									<li class="back_color10 "><a href="https://www.meizhou.gov.cn/list/515" target="_blank"><img src="${public}/images/icon74.png">
										<p>社保缴费待遇</p></a></li>
									</ul>
								</div>
								<div class="clear"></div>

								<div class="mt20">
									<div class="ftl w332" style=" position:relative;">

										<div class="title1"><h3 class="ftl">政策法规 </h3></div>
										<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=222">更多+</a></p>
										<div class=" tong mt10" style="height:180px;">
											<ul>
												<#list zcnews as zcn>
												<li><span class="date">[${zcn.TIME}]</span><a class="newtitle" href="/Home/NewContent?newid=${zcn.id}" target="_blank" title="${zcn.title}">${zcn.title}</a></li>
												</#list>
											</ul>
										</div>
									</div>
									<div class="ftl ml10 w332" style=" position:relative;">

										<div class="title1"><h3 class="ftl">社保公告 </h3></div>
										<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=223">更多+</a></p>
										<div class=" tong mt10" style="height:180px;">
											<ul>
												<#list ggnews as gg>
												<li><span class="date">[${gg.TIME}]</span><a class="newtitle" href="/Home/NewContent?newid=${gg.id}" target="_blank" title="${gg.title}示">${gg.title}</a></li>
												</#list>					
											</ul>
										</div>
									</div>
									<div class="ftl ml10 w332" style=" position:relative;">

										<div class="title1"><h3 class="ftl">社保知识 </h3></div>
										<p class="more1"><a target="_blank" href="/Home/ChannelContent?cid=224">更多+</a></p>
										<div class=" tong mt10" style="height:180px;">
											<ul>
												<#list zsnews as zsn>		
												<li><span class="date">[${zsn.TIME}]</span><a class="newtitle" href="/Home/NewContent?newid=${zsn.id}" target="_blank" title="${zsn.title}">${zsn.title}</a></li>
												</#list>			
											</ul>
										</div>
									</div>
								</div>
								<div class="clear"></div>
								<div class="title1"><h3 class="ftl">联系方式 </h3></div>
								<div class="clear"></div>
								<div class="lineheight28 mt20">
									<span class="font-red4 ">办公时间：</span>上午：08:30-12:00&nbsp;&nbsp;下午：14:30-18:00&nbsp;&nbsp;&nbsp;&nbsp;
									<span class="font-red4 ">详细地址：</span>梅州市新中路82号&nbsp;&nbsp;&nbsp;&nbsp;
									<span class="font-red4 ">联系电话：</span>0753-2269605
								</div>

							</div>
<#include '/WEB-INF/templates/mxcommon/footer.html'>