<#include '/WEB-INF/templates/mxcommon/header.html'>
<!-- news-center -->
<div class="news-center">
  <!-- navigation -->
	<div class="navigation">
		<div class="navigation-content">网站首页>><span>新闻中心</span></div>
	</div>	
  <!-- navigation -->
    <div class="center-contents">
    	<div class="contents-menu">
    		<ul>
    			<li class="new-active"><a href="detail.php">新闻中心</a></li>
    			<li><a href="detail.php">梅县要闻</a></li>
    			<li><a href="detail.php">部门动态</a></li>
    			<li><a href="detail.php">乡镇动态</a></li>
    			<li><a href="detail.php">新闻视频</a></li>
    			<li><a href="detail.php">政声传递</a></li>
    		</ul>
    	</div>
    	<div class="contents-list">
    		<div class="list-title">新闻中心</div>
    		<div class="list-dimension">
    			<ul>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    				<li>
	    				<a href="detail.php">
	    				<span class="dimension-content">关于在梅州城区开展交通秩序专项整治谭军铁方李煦参加全市三防</span><span class="dimension-time">10-23</span>
	    				</a>
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
</div>
<script type="text/javascript">
    $('.nav li').removeClass('on');
    $('.news1').addClass('on');
</script>
<#include '/WEB-INF/templates/mxcommon/footer.html'>