<#include "/WEB-INF/templates/mxcommon/header.html">
<nav class="mx-bg">
	<div class="mx-nav">
			<a href="/Home/Index">网站首页</a> >> <a href="">走进梅县</a>
	</div>
	<div class="mx-content">
		<#include "/WEB-INF/templates/mxcommon/left.html">
		<div class="mx-right">
			<div class="mx-title">梅州概况</div>
			<div class="mx-news">
				<ul>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li class="mx-split"></li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li class="mx-split"></li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li>
					<span>[2016-11-11]</span>
					<a>梅县区</a>
					</li>
					<li class="mx-split"></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<#include "/WEB-INF/templates/mxcommon/footer.html">
