<#include "/WEB-INF/templates/mxcommon/header.html">
<nav class="mx-bg">
	<div class="mx-nav">
			<a href="/Home/Index">网站首页</a> >> <a href="">走进梅县</a>
	</div>
	<div class="mx-content">
		<#include "/WEB-INF/templates/mxcommon/left.html">
		<div class="mx-right">
			<div class="mx-title">体育馆</div>
			<div class="mx-news">
				<div class="mx-gym">
					<div class="gym-pic"><img alt="" src="${public}/images/gym1.jpg" width="200px" height="150px"></div>
					<div ><span class="gym-name">体育馆</span><br>
					<span class="gym-addr">地址：xxxxx</span></div>
				</div>
				<div class="mx-gym">
					<div class="gym-pic"><img alt="" src="${public}/images/gym1.jpg" width="200px" height="150px"></div>
					<div ><span class="gym-name">体育馆</span><br>
					<span class="gym-addr">地址：xxxxx</span></div>
				</div>
				<div class="mx-gym">
					<div class="gym-pic"><img alt="" src="${public}/images/gym1.jpg" width="200px" height="150px"></div>
					<div ><span class="gym-name">体育馆</span><br>
					<span class="gym-addr">地址：xxxxx</span></div>
				</div>
				<div class="mx-gym">
					<div class="gym-pic"><img alt="" src="${public}/images/gym1.jpg" width="200px" height="150px"></div>
					<div ><span class="gym-name">体育馆</span><br>
					<span class="gym-addr">地址：xxxxx</span></div>
				</div>
			</div>
			
		</div>
	</div>
</nav>

<#include "/WEB-INF/templates/mxcommon/footer.html">
