<#include '/WEB-INF/templates/mxcommon/header.html'>
<div class="wid pt10">
	<!--在线访谈-->





	<div class="w504 mt10 ftl">
		<!--书记信箱-->
		<div class="font-size16 font-red4 ftl" style="line-height: 26px;">
			<img class="ftl mt5 pl10" src="${public}/images/search_bot.jpg">
			<h4 class="ftl ml10" style="margin-left: 5px;">书记信箱</h4>
		</div>
		<div class="xixiang_btn ftr">
			<a
				href="/Home/Index/getLetter?cid=278"
				target="_blank">更多回复</a>
		</div>
		<div class="clear"></div>
		<div class="tong back_color1 mt10" style="padding: 10px">
			<div class="tac  lineheight32 font-red2">
				<h3>书记信箱来信选登</h3>
			</div>
			<ul class="tong_letter">
				<div id="mingsheng_shuji" style="width: 455px; height: 150px;">
					<table width="100%" border="0" cellspacing="1" cellpadding="0"
						class="lm-center">
						<tbody>
							<#list sj as s>
							<tr>
								<td height="25" style="width: 400px"><a class="newtitle" title="${s.theme}" style="cursor: pointer;"
									href="/Home/Index/email?eid=${s.id}"> ${s.theme}</a></td>
								<td  >${s.lettle_type}</td>
							</tr>
							</#list>
						</tbody>
					</table>
				</div>
			</ul>
		</div>
	</div>
	<!--书记信箱-->

	<div class="w504 mt10 ftl ml10">
		<!--市长信箱-->
		<div class="font-size16 font-red4 ftl" style="line-height: 26px;">
			<img class="ftl mt5 pl10" src="${public}/images/search_bot.jpg">
			<h4 class="ftl ml10" style="margin-left: 5px;">市长信箱</h4>
		</div>
		<div class="xixiang_btn ftr">
			<a
				href="/Home/Index/getLetter?cid=279"
				target="_blank">更多回复</a>
		</div>
		<div class="clear"></div>
		<div class="tong back_color1 p20 mt10" style="padding: 10px">
			<div class="tac  lineheight32 font-red2">
				<h3>市长信箱来信选登</h3>
			</div>
			<ul class="tong_letter">
				<div id="mingsheng_shizhang" style="width: 455px; height: 150px;">
					<table width="100%" border="0" cellspacing="1" cellpadding="0"
						class="lm-center">
						<tbody>
							<#list sz as s>
							<tr>
								<td height="25" style="width: 400px"><a class="newtitle" title="${s.theme}"
									style="cursor: pointer;"
									href="/Home/Index/email?eid=${s.id}">${s.theme}</a></td>
								<td>${s.lettle_type}</td>
							</tr>
							</#list>
						</tbody>
					</table>
				</div>
			</ul>
		</div>
	</div>
	<!--市长信箱-->
	<div class="clear"></div>
	<div class="blank10"></div>
	<div class="other_chat mt20 border1 mt20 mb20" style="height: 130px;">
		<ul>
			<li class="back_color3"><a
				href="http://mzms.meizhou.gov.cn/msCommunicateWebAction.do?action=openMain&type=4"
				target="_blank"><img class="ftl mt20 ml20"
					src="${public}/images/icon28.png">我要咨询</a></li>
			<li class="back_color4"><a
				href="/Home/Index/complaints"
				target="_blank"><img class="ftl mt20 ml20"
					src="${public}/images/icon29.png">我要写信</a></li>
			<li class="back_color7"><a
				href="http://mzms.meizhou.gov.cn/msCommunicateWebAction.do?action=getCommunicateWebList&amp;type=4"
				target="_blank"><img class="ftl mt20 ml20"
					src="${public}/images/icon32.png">受理查询</a></li>

			<li class="back_color6"><a
				href="http://12345.meizhou.gov.cn/index.action"
				target="_blank"><img class="ftl mt20 ml20"
					src="${public}/images/icon31.png">12345平台</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="blank20"></div>
	<div class="ftl tong mtb20"
		style="width: 720px; background: #fff; padding: 10px;">
		<div class="lineheight32"
			style="height: 36px; border-bottom: 1px solid #d5d5d5">
			<div class="title1 ftl">
				<h3 class="ftl">梅县民声</h3>
			</div>
			<div class="ftr">
				累计：主题&nbsp;&nbsp; <span class="font-red4" id="xjzl">${allCount}</span>&nbsp;&nbsp;
				| &nbsp;&nbsp; 回复：<span class="font-red4" id="hfzl">${hfallCount}</span>
				&nbsp;&nbsp;今日 收件:&nbsp;&nbsp; <span class="font-red4" id="jrlx">${todayEmailNum}</span>
				&nbsp;&nbsp; | &nbsp;&nbsp; 回复：<span class="font-red4" id="jrhf">${todayhandlerNum}</span>&nbsp;&nbsp;
				| <a target="_blank"
					href="/Home/Index/getLetter?cid=280">更多回复</a>
			</div>
		</div>
		<div class="clear"></div>
		<div id="mingsheng_list">
			<table width="100%" border="0" cellspacing="1" cellpadding="0"
				class="lm-center">
				<thead>
					<tr style="background-color: #e8e8e8;">
						<td width="25%">标题</td>
						<td width="15%">类型</td>
						<td width="15%">咨询人</td>
						<td width="15%">提交时间</td>
						<td width="15%">答复部门</td>
						<td width="15%">答复时间</td>
					</tr>
				</thead>
				<tbody>
					<#list ms as m>
					<tr>
						<td height="25"><a class="newtitle" title="${m.theme}"
							style="cursor: pointer;"
							href="/Home/Index/email?eid=${m.id}">${m.theme}</a></td>
						<td>${m.lettle_type}</td>
						<td>${m.people_name}</td>
						<td>${m.receive_time}</td>
						<td>${m.letter_dept}</td>
						<td>${m.reply_time}</td>
					</tr>
					</#list>
				</tbody>
			</table>
		</div>
	</div>
	<!--梅州民声-->
	<div class="ftr mtb20" style="width: 260px; background: #fff;">
		<div class="title7 back_color13 font-size16 ti20">
			<span class="font-hui5"> 热线专题</span>
		</div>
		<div class="zwwb pt10 pl10 border2 mb10" style="height: 260px;">
			<a href="/Home/ChannelContent?cid=17">
			<img src="${public}/images/pross1.jpg"> 
			</a>
			<a href="/Home/ChannelContent?cid=17">
			<img
				src="${public}/images/pross2.jpg">
				</a>
				<a href="/Home/ChannelContent?cid=17"> 
				<img
				src="${public}/images/pross3.jpg"> 
				</a>
				<a href="/Home/ChannelContent?cid=17">
				<img
				src="${public}/images/pross4.jpg">
				</a>
			<div class="clear"></div>
		</div>
	</div>

	<div class="clear"></div>
	<div class="blank10"></div>
	<div class="news ftl w504" id="myzj">
		<div class="hd">
			<ul style="left: 0px;">
				<li class="on"><a href="/Home/ChannelContent?cid=281"
					target="_blank">民意征集</a></li>
				<li><a href="/Home/ChannelContent?cid=282"
					target="_blank">结果反馈</a></li>
			</ul>
		</div>
		<div class="bd mt10">
			<ul style="height: 160px;">
				<p class="more1">
					<a target="_blank" href="/Home/ChannelContent?cid=281">更多+</a>
				</p>
			<#list mys  as my>
				<li><span class="state">(${my.TIME})</span><a class="newtitle"
					href="/Home/NewContent?newid=${my.id}"
					target="_blank" title="${my.title}">${my.title}</a></li>
				</#list>
			</ul>
			<ul style="height: 161px; display: none;">
				<p class="more1">
					<a target="_blank" href="/Home/ChannelContent?cid=282">更多+</a>
				</p>
				<#list jgs as jg>
				<li><span class="date">(${jg.TIME})</span><a class="newtitle"
					href="/Home/NewContent?newid=${jg.id}"
					target="_blank" title="${jg.title}">${jg.title}</a></li>
				</#list>

			</ul>
		</div>
	</div>
	<script type="text/javascript">
		jQuery(".news").slide();
	</script>

	<div class="news ftl w504 ml10" id="myzj" style="position: relative;">
		<div class="hd">
			<ul style="left: 0px;">
				<li class="on"><a
					href="/Home/ChannelContent?cid=283" target="_blank">在线调查</a></li>

			</ul>
		</div>
		<div class="bd mt10">

			<ul style="height: 161px;">
				<p class="more1">
					<a target="_blank" href="/Home/ChannelContent?cid=283">更多+</a>
				</p>
				<#list dcs as dc>
				<li><span class="state_on">(${dc.TIME})</span><a class="newtitle"
					href="/Home/NewContent?newid=${dc.id}" target="_blank"
					title="${dc.title}">${dc.title}</a></li>
					</#list>

			</ul>
		</div>
	</div>

	<div class="clear blank20"></div>
</div>
<script type="text/javascript">
	$('.nav li').removeClass('on');
	$('.service').addClass('on');
</script>
<#include '/WEB-INF/templates/mxcommon/footer.html'>
