<div class="index_zt">
	<div class="links_scroll">
		<div class="inlinks">
			<a class="prev">&lt;</a>
			<div class="bd">
				<div class="tempWrap"
					style="overflow: hidden; position: relative; width: 1124px">
					<ul
						style="width: 3091px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1405px;">
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/29.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/30.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/31.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/14.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/15.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/29.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/30.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/31.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/14.png"></a></li>
						<li style="float: left; width: 263px;"><a href=""><img
								src="${public}/images2/15.png"></a></li>
					</ul>
				</div>
			</div>
			<a class="next">&gt;</a>
		</div>
	</div>
</div>
<div class="index_link">
	<div class="index_linkcon clearfix">
		<span>网站导航</span>
		<div class="dhlj">
			<ul>
				<li>省内地方政府</li>
				<li>区县政府网站</li>
				<li>机关单位</li>
				<li>各镇（办事处、高管会）</li>
				<li>其他网站</li>
			</ul>
		</div>

	</div>
</div>
<div class="mainljcon">
	<ul>
		<li>


			<table cellspacing="5" cellpadding="0" width="98%">
				<tbody>
					<tr>
						<td width="20%"><a target="_self"
							href="http://www.gz.gov.cn/">· 市府办公厅 </a></td>
						<td width="18%"><a href="http://www.gzplan.gov.cn/">·
								市发展改革委 </a></td>
						<td width="24%"><a href="http://www.gzii.gov.cn/">·
								市工业和信息化委员会 </a></td>
						<td width="16%"><a href="http://www.gzedu.gov.cn/">· 市教育局
						</a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzsi.gov.cn/">· 市科技创新委员会</a></td>
						<td><a href="http://www.gzmzzj.gov.cn/">· 市民族宗教局 </a></td>
						<td><a href="http://www.gzjd.gov.cn/">· 市公安局 </a></td>
						<td><a href="http://www.gzjjjc.gov.cn/">· 市监察局 </a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzmz.gov.cn/">· 市民政局 </a></td>
						<td><a href="http://www.gzsfj.gov.cn/">· 市司法局 </a></td>
						<td><a href="http://www.gzfinance.gov.cn/">· 市财政局 </a></td>
						<td><a href="http://www.hrssgz.gov.cn/">· 市人力资源和社会保障局 </a></td>
					</tr>
					<tr>
						<td><a href="http://www.upo.gov.cn/">· 市国土资源和规划委员会 </a></td>
						<td><a href="http://www.gzepb.gov.cn/">· 市环保局 </a></td>
						<td><a href="http://www.gzcc.gov.cn/">· 市住房和城乡建设委员会 </a></td>
						<td><a
							href="http://www.gzjt.gov.cn/gzjt/web/Member/Login.aspx">·
								市交委 </a></td>
					</tr>
					<tr>
						<td><a
							href="http://www.gzwater.gov.cn/portal/site/site/portal/gzswj/index.portal">·
								市水务局 </a></td>
						<td><a href="http://www.gzagri.gov.cn/">· 市农业局 </a></td>
						<td><a
							href="http://www.gzlyyl.gov.cn/portal/site/site/portal/gzlyylj/index.portal">·
								市林业和园林局 </a></td>
						<td><a href="http://www.gzcoc.gov.cn/">· 市商务委员会</a></td>
					</tr>
					<tr>
						<td><a href="http://www.xwgd.gov.cn/">· 市文化广电新闻出版局</a></td>
						<td><a href="http://www.gzmed.gov.cn/">· 市卫生计生委 </a></td>
						<td><a href="http://www.gzaudit.gov.cn/">· 市审计局 </a></td>
						<td><a href="http://www.gzfao.gov.cn/">· 市外办</a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzgz.gov.cn/">· 市国资委 </a></td>
						<td><a
							href="http://www.gzcgw.gov.cn/portal/site/site/portal/gzcgw/index.jsp">·
								市城管委 </a></td>
						<td><a href="http://www.gzaic.gov.cn/">· 市工商局 </a></td>
						<td><a href="http://www.gzq.gov.cn/">· 市质监局 </a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzsports.gov.cn/">· 市体育局 </a></td>
						<td><a href="http://www.gzajj.gov.cn/">· 市安全监管局 </a></td>
						<td><a href="http://www.gzfda.gov.cn/">· 市食品药品监管局 </a></td>
						<td><a href="http://www.gzstats.gov.cn/">· 市统计局 </a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzipo.gov.cn/web/jsp/index.jsp">·
								市知识产权局 </a></td>
						<td><a href="http://www.gzly.gov.cn/">· 市旅游局 </a></td>
						<td><a href="http://lsj.gz.gov.cn/">· 市来穗人员服务管理局 </a></td>
						<td><a href="http://www.gzyjs.gov.cn/">· 市府研究室 </a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzqw.gov.cn/">· 市侨办 </a></td>
						<td><a href="http://www.gzlo.gov.cn/">· 市法制办</a></td>
						<td><a href="http://www.gzjr.gov.cn/">· 市金融工作局</a></td>
						<td><a href="http://www.gzuro.gov.cn/">· 市城市更新局</a></td>
					</tr>
				</tbody>
			</table>

		</li>
	</ul>
	<ul>
		<li>


			<table cellspacing="5" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td width="16%"><a href="http://www.yuexiu.gov.cn/">· 梅江区
						</a></td>
						<td width="16%"><a href="http://www.haizhu.gov.cn/">· 梅江区
						</a></td>
					</tr>
				</tbody>
			</table>

		</li>
	</ul>
	<ul>
		<li>


			<table cellspacing="5" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td width="20%"><a href="http://www.rd.gz.cn/">· 市人大 </a></td>
						<td width="20%"><a href="http://www.gzzx.gov.cn/">· 市政协 </a></td>
						<td width="20%"><a href="http://www.gzjjjc.gov.cn/">· 市纪委
						</a></td>
						<td width="20%"><a href="http://www.gzcourt.gov.cn/">·
								市中级法院 </a></td>
						<td width="20%"><a href="http://www.jcy.gz.gov.cn/">·
								市检察院 </a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzdj.gov.cn/">· 市委组织部 </a></td>
						<td><a href="http://www.guangzhou.gov.cn/">· 市委宣传部 </a></td>
						<td><a href="http://www.gztzb.org.cn/">· 市委统战部</a></td>
						<td><a href="http://www.gztb.gov.cn/">· 市台办 </a></td>
						<td><a href="http://www.gzswdx.gov.cn/">· 市委党校</a></td>
					</tr>
					<tr>
						<td><a href="http://www.54cn.net/">· 团市委</a></td>
						<td><a href="http://www.gzsk.gd.cn/">· 市社科规划领导小组 </a></td>
						<td><a href="http://www.zggzds.org.cn/">· 市委党史研究室</a></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</li>
	</ul>
	<ul>
		<li>


			<table cellspacing="5" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td width="25%"><a href="http://www.gzccad.gov.cn/">·
								市民防办 </a></td>
						<td width="25%"><a href="http://www.gzdpf.org.cn/">· 市残联</a></td>
						<td width="25%"><a href="http://www.gzdaj.gov.cn/">· 市档案局
						</a></td>
						<td width="25%"><a href="http://www.gzzwb.gov.cn/">· 市政务办
						</a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzbm.gov.cn/">· 市国家保密局 </a></td>
						<td><a href="http://www.gzxz.gov.cn/">· 市协作办 </a></td>
						<td><a href="http://www.gz121.gov.cn/">· 市气象局</a></td>
					</tr>
					<tr>
						<td><a href="http://www.gzsdfz.org.cn/">· 市地方志办</a></td>
						<td><a href="http://www.gz12345.gov.cn/">· 市信访局 </a></td>
						<td><a href="http://www.gzscoop.gov.cn/">· 市供销总社 </a></td>
						<td><a href="http://www.gzro.gov.cn/">· 市道路扩建办 </a></td>
					</tr>
				</tbody>
			</table>

		</li>
	</ul>
	<ul>
		<li>


			<table cellspacing="5" cellpadding="0" width="100%" border="0">
				<tbody>
					<tr>
						<td width="25%">· <a href="http://gz.hfdsb.gov.cn/">市海防打私办
						</a></td>
						<td width="25%">· <a href="http://www.gzemo.gov.cn/">市应急办</a></td>
						<td width="25%">· <a href="http://www.gzgh.org.cn/">市总工会</a></td>
						<td width="25%">· <a href="http://www.gzwoman.org.cn/">市妇联</a></td>
					</tr>
				</tbody>
			</table>

		</li>
	</ul>
	<ul>
		<li>


			<table cellspacing="5" cellpadding="0" width="100%" border="0">
				<tbody>
					<tr>
						<td><a href="http://www.gz.gov.cn/">广东</a></td>
						<td><a href="http://www.sz.gov.cn/">深圳</a></td>
						<td><a href="http://www.zhuhai.gov.cn/">珠海</a></td>
						<td><a href="http://www.shantou.gov.cn/">汕头</a></td>
						<td><a href="http://www.foshan.gov.cn/">佛山</a></td>
						<td><a href="http://www.shaoguan.gov.cn/">韶关</a></td>
					</tr>
					<tr>
						<td><a href="http://www.heyuan.gov.cn/">河源</a></td>
						<td><a href="http://www.meizhou.gov.cn/">梅州</a></td>
						<td><a href="http://www.huizhou.gov.cn/">惠州</a></td>
						<td><a href="http://www.shanwei.gov.cn/">汕尾</a></td>
						<td><a href="http://www.dongguan.gov.cn/">东莞</a></td>
						<td><a href="http://www.zs.gov.cn/">中山</a></td>
					</tr>
					<tr>
						<td><a href="http://www.jiangmen.gov.cn/">江门</a></td>
						<td><a href="http://www.yangjiang.gov.cn/">阳江</a></td>
						<td><a href="http://www.zhanjiang.gov.cn/">湛江</a></td>
						<td><a href="http://www.maoming.gov.cn/">茂名</a></td>
						<td><a href="http://www.zhaoqing.gov.cn/">肇庆</a></td>
						<td><a href="http://www.gdqy.gov.cn/">清远</a></td>
					</tr>
					<tr>
						<td><a href="http://www.chaozhou.gov.cn/">潮州</a></td>
						<td><a href="http://www.jieyang.gov.cn/">揭阳</a></td>
						<td><a href="http://www.yunfu.gov.cn/">云浮</a></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
					</tr>
				</tbody>
			</table>

		</li>
	</ul>
</div>
</div>
</div>
<!--bottom-->
<footer id="footer">
	<!--footer-->
	<div class="container">
		<b></b>
		<div class="footer-nav" id="footnav">站长统计 | 今日IP[71] | 今日PV[223]
			| 昨日IP[479] | 昨日PV[2521] | 当前在线[18]</div>
		<div class="footer-pic">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td align="center"><span id="_span_jiucuo"><img
								onclick="Link(&#39;4401000004&#39;)"
								style="margin: 0; border: 0; cursor: pointer;"
								src="${public}/images2/jiucuo.png"></span></td>
						<td align="center"><a
							href="http://bszs.conac.cn/sitename?method=show&amp;id=17C0E2483D0F4652E053022819ACBE93"><img
								id="imgConac" src="${public}/images2/red.png"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer-copyright">
			主办：梅县区人民政府办公室 承办：梅县区科工商务管理局 <br>
			<a href="">管理维护：梅县区信息网络中心ICP备案序号：粤ICP备10000203号</a>

		</div>
	</div>
</footer>
<!--/footer-->
<div class="right_menu hide_mobile" id="right_menu"
	style="position: absolute; top: 258px;">
	<b></b>
	<ul>
		<li class="item wx button-rotate" data-text="政务微信" id="qrcode"><a
			href="javascript:;">政务微信</a></li>
		<li class="wx_con" style="display: none;"><span>梅县政府网</span><img
			src="${public}/images2/2016_right_zwwx_gzzfw.png" width="99"
			height="99" alt="">
		<p>
				轻松一扫<br>知晓政务<br>建言献策<br>
			</p></li>
		<li class="item wb button-rotate" data-text="政务微博" id="zwwb"><a
			href="javascript:;">政务微博</a></li>
		<li class="wb_con" style="display: none;"><dl>

				<dd class="child1">
					<div class="pic">
						<a href="http://weibo.com/2605594314"><img
							src="${public}/images2/2fbb9b525fab4b73a66ed003af79f21b.jpg"></a>
					</div>
					<div class="txt">
						<a href="http://weibo.com/2605594314" title="中国梅县发布">中国梅县发布</a>
					</div>
				</dd>
				<dd class="child2">
					<div class="pic">
						<a href="http://weibo.com/2532700305"><img
							src="${public}/images2/af1f4b2adefa4e73809617345d30d02e.jpg"></a>
					</div>
					<div class="txt">
						<a href="http://weibo.com/2532700305" title="梅县市政府新闻办">梅县市政府新闻办</a>
					</div>
				</dd>

			</dl></li>
		<li class="item smyx button-rotate" data-text="APP版"><a
			href="javascript:;">APP版</a></li>
		<li class="smyx_con" style="display: none;"><span>梅县政府网</span><img
			src="${public}/images2/2016_right_zwwx_gzzfw.png" width="99"
			height="99" alt="">
		<p>
				轻松一扫<br>知晓政务<br>建言献策<br>
			</p></li>
		<li class="item fxd button-rotate" data-text="分享到" id="qfxd"><a
			href="javascript:;">分享到</a></li>
		<li class="item wzjy button-rotate" data-text="回到顶部"><a
			href="javascript:;">回到顶部</a></li>
		<li class="fxd_con" style="display: none;">
			<div class="bdsharebuttonbox bdshare-button-style0-32"
				data-tag="share_1" data-bd-bind="1479604350909">
				<a class="bds_weixin" title="分享到微信" data-cmd="weixin"
					href="http://www.gz.gov.cn/#"></a> <a class="bds_qzone"
					data-cmd="qzone" href="http://www.gz.gov.cn/#" title="分享到QQ空间"></a>
				<a class="bds_tsina" title="分享到新浪微博" data-cmd="tsina"
					href="http://www.gz.gov.cn/#"></a> <a class="bds_sqq"
					data-cmd="sqq" title="分享到QQ好友"></a> <a class="bds_tqq"
					title="分享到腾讯微博" data-cmd="tqq"></a>
			</div>
		</li>
		<li class="item gotop" id="gotop"></li>
	</ul>
</div>
<link href="${public}/css2/2016right_menu.css" rel="stylesheet" type="text/css"
	id="rightCss">
<script src="${public}/js2/ad-right.js"></script>
<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?1a1ba310b5d048d6cbdc05e1b4a71c7b";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
		</script>
<!--bottom end-->
<!--skin-wrap start-->
<div class="skin-wrap">

	<!--picVideo-wrap start-->
	<div id="picVideo-wrap">
		<div class="Menubox_skin">
			<ul>
				<li class="slideHidden">收起</li>
			</ul>
		</div>

		<!--Contentbox start-->
		<div class="Contentbox">
			<div id="con_skin_1" class="hover">
				<div class="skinChange">
					<!--picture list start-->
					<div class="ck-slide-dir">
						<ul class="ck-slide-wrapper imgskin" style="width: 1848px;">
							<li style="float: left; position: relative;">
								<div class="paperList">
									<a href="javascript:" tag="skin1"><img
										src="${public}/images2/skin01.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin2"><img
										src="${public}/images2/skin02.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin3"><img
										src="${public}/images2/skin03.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin4"><img
										src="${public}/images2/skin04.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin5"><img
										src="${public}/images2/skin05.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin6"><img
										src="${public}/images2/skin06.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a>
								</div>
							</li>
							<li style="float: left; position: relative;">
								<div class="paperList">
									<a href="javascript:" tag="skin7"><img
										src="${public}/images2/skin07.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin8"><img
										src="${public}/images2/skin08.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin9"><img
										src="${public}/images2/skin09.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a><a
										href="javascript:" tag="skin10"><img
										src="${public}/images2/skin10.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin11"><img
										src="${public}/images2/skin11.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a> <a
										href="javascript:" tag="skin12"><img
										src="${public}/images2/skin12.jpg" alt=""
										style="opacity: 1; cursor: pointer;"></a>
								</div>
							</li>
						</ul>
					</div>
					<a href="javascript:" class="ctrl-slide ck-prev">上一张</a> <a
						href="javascript:" class="ctrl-slide ck-next">下一张</a>
					<div class="ck-slidebox" style="margin-left: -462px;">
						<div class="slideWrap">
							<ul class="dot-wrap">
								<li class="current"><em>1</em></li>
								<li><em>2</em></li>
								<li><em>3</em></li>
								<li><em>4</em></li>
								<li><em>5</em></li>
							</ul>
						</div>
					</div>
					<!--picture list end-->
				</div>
			</div>
		</div>
		<!--Contentbox end-->
	</div>
	<!--picVideo-wrap end-->
	<div class="skinMask"></div>
</div>
<!--skin-wrap end-->
<script type="text/javascript"
	src="${public}/js2/jquery.SuperSlide.2.1.1.js"></script>
	<!--  
<script src="${public}/js2/contentTab1.js" id="delIe6"></script>-->
<script src="${public}/js2/index_new.js"></script>
<script type="text/javascript" src="${public}/js2/jquery.SuperSlide.source.js"></script>
<script src="${public}/js2/ad-right.js"></script>

<script type='text/javascript' src="${public}/js/jquery.s2t.js"></script>
	<script>
	$('.jt').click(function() {
           $('#content-wap').t2s();
           $(this).addClass("on");
           $(".ft").removeClass("on");
           return false;
     });
	$(".ft").click(function(){
		 $('#content-wap').s2t();
		 $(this).addClass("on");
         $(".jt").removeClass("on");
		 return false;
	});
     </script>