<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>后台管理</title>
<link href="${public}/css/bootstrap.min.css" rel="stylesheet">
<link href="${public}/css/bootstrap-table.css" rel="stylesheet">
<link href="${public}/css/index.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<div class=" col-sm-12 col-lg-12  main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">用户管理</li>
			</ol>
		</div>
		<!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="/Admin/Admin/list">管理用户</a></li>
					<li class=""><a href="/Admin/Admin/addViewChange">添加用户</a></li>
					<li class=""><a href="/Admin/Admin/queryAdminLogInfo">用户日志</a></li>
				</ul>
				<div class="panel panel-default">

					<div class="panel-body">
						<table data-toggle="table" data-url="tables/data1.json"
							data-show-refresh="true" data-show-toggle="true"
							data-show-columns="true" data-search="true"
							data-select-item-name="toolbar1" data-pagination="true"
							data-sort-name="name" data-sort-order="desc">
							<thead>
								<tr>
									<th data-field="state" data-checkbox="true">用户 ID</th>
									<th data-sortable="true" data-align="center">用户名</th>
									<th data-sortable="true" data-align="center">呢称</th>
									<th data-sortable="true" data-align="center">注册时间</th>
									<th data-sortable="true" data-align="center">类型</th>
									<th data-sortable="true" data-align="center">修改</th>
									<th data-sortable="true" data-align="center">删除</th>
								</tr>
							</thead>
							<tbody>
								<#list userPage as dizhi >

								<tr class="active">
									<td>${dizhi.id}</td>
									<td>${dizhi.username}</td>
									<td>${dizhi.name}</td>
									<td>${dizhi.regtime?number_to_datetime}</td>
									<td> 
									<#if dizhi.type gt 0>
									        管理员         
								    <#else>
									            超级管理员
									</#if>
									</td>
									<td><a href="/Admin/Admin/updateViewChange?id=${dizhi.id}">
											<input value="修改" type="submit" class="btn btn-info">
									</a>
									<td>
										<!--  	<a id="delete"
										href="/Admin/deleteAdminById?id=${dizhi.id}"> <input
											value="删除" type="submit"
											class="btn btn-info btn-delete delete" date-toggle="modal"
											date-target="#deleteModel">
									</a>-->
										<button class="btn btn-info delete" data-toggle="modal"
											data-target="#myModal" id=${dizhi.id}  onClick="deletedata(${dizhi.id})">删除</button>
									</td>



								</tr>

								</#list>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->



	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">你确认删除该管理员吗？</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary del">删除</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->

		<script src="${public}/js/jquery-1.11.1.min.js"></script>
		<script src="${public}/js/bootstrap.min.js"></script>
		<script src="${public}/js/bootstrap-table.js"></script>
		<script>
			!function($) {
				$(document).on(
						"click",
						"ul.nav li.parent > a > span.icon",
						function() {
							$(this).find('em:first').toggleClass(
									"glyphicon-minus");
						});
				$(".sidebar span.icon").find('em:first').addClass(
						"glyphicon-plus");
			}(window.jQuery);

			$(window).on('resize', function() {
				if ($(window).width() > 768)
					$('#sidebar-collapse').collapse('show')
			})
			$(window).on('resize', function() {
				if ($(window).width() <= 767)
					$('#sidebar-collapse').collapse('hide')
			})
				function deletedata(id) {
				//alert($id);
				$('.del').attr("data-id", id);
			}
				$('.del').click(function() {
					$id = $(this).data("id");
					window.location.href = "/Admin/Admin/deleteAdminById?id=" + $id;
				})
			
		</script>
</body>

</html>
